ct1/pit1/v3/formct1-v3-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	
	Document History:
	Current Version: 1.0
	
	31/07/2003
			Removed CT1/Company/Indicate/euroselection.

-->
<xsd:schema targetNamespace="http://www.ros.ie/schemas/ct1/v3/" xmlns:ros="http://www.ros.ie/schemas/rostypes/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ros.ie/schemas/ct1/v3/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.ros.ie/schemas/rostypes/" schemaLocation="../../rostypes/schema.xsd"/>
	<xsd:simpleType name="accountsValue">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="13000000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="positive10Max">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="1269738078"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="acreage8">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="99999999.99"/>
			<xsd:totalDigits value="11"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="liability">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="99999999.99"/>
			<xsd:fractionDigits value="2"/>
			<xsd:totalDigits value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Ct1">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Company"/>
				<xsd:element ref="TradeIncome" minOccurs="0"/>
				<xsd:element ref="RentalIncome" minOccurs="0"/>
				<xsd:element ref="InvestmentIncome" minOccurs="0"/>
				<xsd:element ref="CapitalGains" minOccurs="0"/>
				<xsd:element ref="CapitalGainsOnLand" minOccurs="0"/>
				<xsd:element ref="DeductionsReliefs" minOccurs="0"/>
				<xsd:element ref="Surcharges" minOccurs="0"/>
				<xsd:element ref="LtdCpyLess250" minOccurs="0"/>
				<xsd:element ref="AdjustLess250" minOccurs="0"/>
				<xsd:element ref="AccountDetails" minOccurs="0"/>
				<xsd:element ref="AccountNotes" minOccurs="0"/>
				<xsd:element ref="CalculationSummary" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="currency" type="ros:currency" use="required" fixed="E"/>
			<xsd:attribute name="formversion" type="xsd:string" use="required" fixed="3"/>
			<xsd:attribute name="language" type="ros:language" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Company">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CompanyDetails">
					<xsd:complexType>
						<xsd:annotation>
							<xsd:documentation>
referencenumber - The Company Reference Number. Must be a valid revenue reference number	
companyname - The name of the company.						
OA1 -The starting date for the accounting period, which is covered by the return.  Must be before the date on which the return is being filed. Must be before the end date of the accounting period for which the return is being filed.
OA2 - The end date for the accounting period, which is covered by the return. Must be before the date on which the return is being filed. Must be no more  than 12 months after starting date for which the return is being filed.  Must be after the starting date for which the return is being filed.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:attribute name="referencenumber" type="ros:registration" use="required"/>
						<xsd:attribute name="companyname" type="ros:alpha40" use="required"/>
						<xsd:attribute name="OA1" type="ros:date" use="required"/>
						<xsd:attribute name="OA2" type="ros:date" use="required"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Indicate" minOccurs="0">
					<xsd:complexType>
						<xsd:annotation>
							<xsd:documentation> 
ceasedtrade - Indicator of whether the company has ceased to trade in this accounting period
cessationdate - The date on which the company ceased to trade in this accounting period. Must be before the date on which the return is being filed.  
periodchanged - Indicator of whether the accounting period has changed since the last accounting period.
euroselection - Indicator of whether the filer has previously elected to file in Punts or Euros.
closecompany - Indicator of whether the company in question is a close company.
groupmember - Indicator of whether the return is being filed for a company that is a member of a group.
branch - Indicator of whether the return is being filed for a company that is trading through a branch or agency. Must be within 12 months of the date on which the teturn is being filed. Required if ceasedtrade is true.
parentname (The name of the parent company), parentnumber (The Parent Company Reference Number) , parentcountry (The country in which the parent company is registered) are required if Groupmember or branch is true.
OA4 - The number of associated companies in the group. Required if groupmember is true.
surrenderref1, surrenderref2, surrenderref3, surrenderref4, surrenderref5, surrenderamt1, surrenderamt2, surrenderamt3, surrenderamt4, surrenderamt5 - Group relief surrender of losses. The Surrendering of losses Company Reference Number and Amounts of Loss Surrendered relating to them Relevant only if groupmember or branch is true. 
amtofloanrepaid, amtofrefunddue - Required if repairpriorloan is true.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:attribute name="ceasedtrade" type="ros:boolean" default="false"/>
						<xsd:attribute name="cessationdate" type="ros:date" use="optional"/>
						<xsd:attribute name="periodchanged" type="ros:boolean" default="false"/>
						<xsd:attribute name="closecompany" type="ros:boolean" default="false"/>
						<xsd:attribute name="groupmember" type="ros:boolean" default="false"/>
						<xsd:attribute name="branch" type="ros:boolean" default="false"/>
						<xsd:attribute name="parentname" type="ros:alpha25" use="optional"/>
						<xsd:attribute name="parentnumber" type="ros:alpha20" use="optional"/>
						<xsd:attribute name="parentcountry" type="ros:alpha25" use="optional"/>
						<xsd:attribute name="OA4" use="optional">
							<xsd:simpleType>
								<xsd:restriction base="xsd:integer">
									<xsd:minInclusive value="0"/>
									<xsd:maxInclusive value="999"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="surrenderref1" type="ros:alpha9" use="optional"/>
						<xsd:attribute name="surrenderref2" type="ros:alpha9" use="optional"/>
						<xsd:attribute name="surrenderref3" type="ros:alpha9" use="optional"/>
						<xsd:attribute name="surrenderref4" type="ros:alpha9" use="optional"/>
						<xsd:attribute name="surrenderref5" type="ros:alpha9" use="optional"/>
						<xsd:attribute name="surrenderamt1" type="ros:positive8" use="optional"/>
						<xsd:attribute name="surrenderamt2" type="ros:positive8" use="optional"/>
						<xsd:attribute name="surrenderamt3" type="ros:positive8" use="optional"/>
						<xsd:attribute name="surrenderamt4" type="ros:positive8" use="optional"/>
						<xsd:attribute name="surrenderamt5" type="ros:positive8" use="optional"/>
						<xsd:attribute name="repairpriorloan" type="ros:boolean" default="false"/>
						<xsd:attribute name="amtofloanrepaid" type="ros:positive8" use="optional"/>
						<xsd:attribute name="amtofrefunddue" type="ros:positive8" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ExpressionOfDoubt">
					<xsd:complexType>
						<xsd:annotation>
							<xsd:documentation>
expofdoubt - Indicator of whether the filer wishes to express any doubt about the details entered on the return.
expofdoubtdetails - Relevant only if expofdoubt is true
							</xsd:documentation>
						</xsd:annotation>
						<xsd:attribute name="expofdoubt" type="ros:boolean" default="false"/>
						<xsd:attribute name="expofdoubtdetails" type="ros:alpha500" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="RemunerationDetails" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:annotation>
							<xsd:documentation>
ppsn-The PPSN of the director whose remuneration details are being recorded.
salary- The amount of Salary, fees or remuneration relating the director whose details are being recorded.
otherbenefits - Other expenses or benefits relating to the director whose details are being recorded.
description - Description of expenses or benefits relating to the director whose details are being recorded.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:attribute name="ppsn" type="ros:alpha20" use="optional"/>
						<xsd:attribute name="salary" type="ros:positive8" use="optional"/>
						<xsd:attribute name="otherbenefits" type="ros:positive8" use="optional"/>
						<xsd:attribute name="description" type="ros:alpha500" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TradeIncome">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ManufacturingTradingResults" minOccurs="0">
					<xsd:complexType>
						<xsd:annotation>
							<xsd:documentation>
OM1 - Profits per accounts as adjusted (after Capital Allowances). 
OM2 - Any balancing charges paid on manufacturing trading results.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:attribute name="OM1" type="positive10Max" use="optional"/>
						<xsd:attribute name="OM2" type="positive10Max" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ManufacturingCapitalAllowances" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
OM7 - Capital allowances on trading income relating to plant and machinery.
OM8 - Capital allowances on trading income relating to industrial buildings.
OM9 - Other capital allowances on trading income.
The total Capital Allowances (OM7 + OM8 + OS3) cannot exceed 1269738078
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="OM7" type="positive10Max" use="optional"/>
						<xsd:attribute name="OM8" type="positive10Max" use="optional"/>
						<xsd:attribute name="OM9" type="positive10Max" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ManufacturingTradingLosses" minOccurs="0">
					<xsd:complexType>
						<xsd:annotation>
							<xsd:documentation>
OM3 - Manufacturing Trading Losses incurred in previous trading periods, which is claimed under Section 396(1) TCA 1997 
OM4 - Manufacturing Losses appropriate to this trade.
OM5 - Manufacturing Charges - other than those on excepted trades.
OM6 - Manufacturing Group Relief.
surrendermanucomprefNo1 to 5 - The  Surrendering Company Reference Number(s).
OM4, OM5, OM6 -Allowed only if OA4 > 0
surrendermanucomprefNo1, surrendermanucomprefNo2, surrendermanucomprefNo3,  surrendermanucomprefNo4, surrendermanucomprefNo5 - Relevant only if OM6 has a value. Must be a valid revenue reference number
							</xsd:documentation>
						</xsd:annotation>
						<xsd:attribute name="OM3" type="positive10Max" use="optional"/>
						<xsd:attribute name="OM4" type="positive10Max" use="optional"/>
						<xsd:attribute name="OM5" type="positive10Max" use="optional"/>
						<xsd:attribute name="OM6" type="positive10Max" use="optional"/>
						<xsd:attribute name="surrendermanucomprefNo1" type="ros:registration" use="optional"/>
						<xsd:attribute name="surrendermanucomprefNo2" type="ros:registration" use="optional"/>
						<xsd:attribute name="surrendermanucomprefNo3" type="ros:registration" use="optional"/>
						<xsd:attribute name="surrendermanucomprefNo4" type="ros:registration" use="optional"/>
						<xsd:attribute name="surrendermanucomprefNo5" type="ros:registration" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TradingResults" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
OD1 - Profits per accounts as adjusted (after Capital Allowances). Required if any other fields are filled for non-manufacturing trade income. Where losses occur enter 0.
OB1 - Any balancing charges paid on trading results.
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="OD1" type="ros:positive8" use="optional"/>
						<xsd:attribute name="OB1" type="ros:positive8" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="NonManufacturingCapitalAllowances" minOccurs="0">
					<xsd:complexType>
						<xsd:annotation>
							<xsd:documentation>
OS1 - Capital allowances on trading income relating to plant and machinery.
OS2 - Capital allowances on trading income relating to industrial buildings.
OS3 - Other capital allowances on trading income.
The total Capital Allowances (OS1 + OS2 + OS3) cannot exceed 1269738078
							</xsd:documentation>
						</xsd:annotation>
						<xsd:attribute name="OS1" type="positive10Max" use="optional"/>
						<xsd:attribute name="OS2" type="positive10Max" use="optional"/>
						<xsd:attribute name="OS3" type="positive10Max" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TradingLosses" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
OS6 - Trading Losses incurred in previous trading periods, which is claimed under Section 396(1) TCA 1997.
OH1 - Losses appropriate to this trade. Allowed only if OA4 > 0.
OH6 - Charges - other than those on excepted trades. Allowed only if OA4 > 0.
OH7 - Group Relief. Allowed only if OA4 > 0.
surrendercomprefNo1, surrendercomprefNo2, surrendercomprefNo3, surrendercomprefNo4, surrendercomprefNo5 - The Surrendering Company Reference Number(s).	Relevant only if OH7 has a value. Must be a valid revenue reference number
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="OS6" type="positive10Max" use="optional"/>
						<xsd:attribute name="OH1" type="positive10Max" use="optional"/>
						<xsd:attribute name="OH6" type="positive10Max" use="optional"/>
						<xsd:attribute name="OH7" type="positive10Max" use="optional"/>
						<xsd:attribute name="surrendercomprefNo1" type="ros:registration" use="optional"/>
						<xsd:attribute name="surrendercomprefNo2" type="ros:registration" use="optional"/>
						<xsd:attribute name="surrendercomprefNo3" type="ros:registration" use="optional"/>
						<xsd:attribute name="surrendercomprefNo4" type="ros:registration" use="optional"/>
						<xsd:attribute name="surrendercomprefNo5" type="ros:registration" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ExceptedTrade" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
OD2 - Profits from excepted trade net after losses, charges, capital allowances, balancing charges and group relief.					
					</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="OD2" type="positive10Max" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ShippingIncome" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
qualactivities - Indicator whether there are any qualifying shipping activities.
OD7 - Income from Shipping activities.
OBO - Balancing charges relating to shipping income.					
					</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="qualactivities" type="ros:boolean" default="false"/>
						<xsd:attribute name="OD7" type="positive10Max" use="optional"/>
						<xsd:attribute name="OBO" type="positive10Max" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ShipCapitalAllowances" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
OSA - Specified capital allowances on shipping activities.
OSB - Capital allowances on machinery and plant relating to shipping activities.
OSC - Capital allowances on industrial buildings relating to shipping activities.
OSD - Other capital allowances relating to shipping activities.
The total Capital Allowances (OSA + OSB + OSC + OSD) cannot exceed 1269738078					
					</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="OSA" type="positive10Max" use="optional"/>
						<xsd:attribute name="OSB" type="positive10Max" use="optional"/>
						<xsd:attribute name="OSC" type="positive10Max" use="optional"/>
						<xsd:attribute name="OSD" type="positive10Max" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ShipTradingLosses" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
OSE - Trading losses on shipping activities.
OHA - Losses appropriate to shipping activities.
OHB - Charges on shipping activities.
OHC - Group relief on shipping activities. Allowed only if OA4 > 0.
surrendershipcomprefNo1, surrendershipcomprefNo2, surrendershipcomprefNo3, surrendershipcomprefNo4, surrendershipcomprefNo5 - The Surrendering Company Reference Number(s). Relevant only if OHC has a value. Must be a valid revenue reference number
UnallowedExpenditure - Indicator of whether or not the filer is making an election under section 284(2)(AB)TCA 1997 in respect of unallowed expenditure at 13/12/2001.				
					</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="OSE" type="positive10Max" use="optional"/>
						<xsd:attribute name="OHA" type="positive10Max" use="optional"/>
						<xsd:attribute name="OHB" type="positive10Max" use="optional"/>
						<xsd:attribute name="OHC" type="positive10Max" use="optional"/>
						<xsd:attribute name="surrendershipcomprefNo1" type="ros:registration" use="optional"/>
						<xsd:attribute name="surrendershipcomprefNo2" type="ros:registration" use="optional"/>
						<xsd:attribute name="surrendershipcomprefNo3" type="ros:registration" use="optional"/>
						<xsd:attribute name="surrendershipcomprefNo4" type="ros:registration" use="optional"/>
						<xsd:attribute name="surrendershipcomprefNo5" type="ros:registration" use="optional"/>
						<xsd:attribute name="UnallowedExpenditure" type="ros:boolean" default="false"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TonnageTax" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
tonnagetaxelected - Indicator of whether or not there is any Tonnage tax elected under Section 697D TCA 1997
OE7 - Tonnage Tax profits. 	Relevant only if  tonnagetaxelected is true.					
					</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="tonnagetaxelected" type="ros:boolean" default="false"/>
						<xsd:attribute name="OE7" type="ros:positive8" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RentalIncome">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="LandAndProperty" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>	
grossrents - Gross rents received from land and property within the state.
interest - Interest on rental income.
repair - Repairs to land and property in the state.
otherincome - Other expenses on land and property in the state.
designatedreliefs - Designated area reliefs.
OD5 - Net Rent received. Net Rent figure, should be sum of ( grossrents + clawback ) – (  interest + repair + other + designatedreliefs ).
unusedlosses - Unused losses from a prior year.
numberofproperties - The number of properties rented.
acreage - The number of acres rented.
OB2 - Balancing Charges .							
					</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="grossrents" type="ros:positive8" use="optional"/>
						<xsd:attribute name="interest" type="ros:positive8" use="optional"/>
						<xsd:attribute name="repair" type="ros:positive8" use="optional"/>
						<xsd:attribute name="otherincome" type="ros:positive8" use="optional"/>
						<xsd:attribute name="designatedreliefs" type="ros:positive8" use="optional"/>
						<xsd:attribute name="unusedlosses" type="ros:positive8" use="optional"/>
						<xsd:attribute name="OD5" type="ros:positive8" use="optional"/>
						<xsd:attribute name="numberofproperties" type="ros:positive4" use="optional"/>
						<xsd:attribute name="acreage" use="optional">
							<xsd:simpleType>
								<xsd:restriction base="xsd:integer">
									<xsd:minInclusive value="0"/>
									<xsd:maxInclusive value="99999"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="OB2" type="ros:positive8" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CapitalAllowances" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>	
prioryear - Capital Allowances from prior year. Sum of prioryear(Capital Allowances at (A)) and unusedlosses(Unused Losses) cannot exceed  99999999.
ringfenced - Capital Allowances (To which Part 10 TCA 1997 applies but excluding those ringfenced by Sections 352 and 353 of that part).
offsetexcesscapallow - Indicator of whether the filer wishes to offset any excess capital allowances against other income from this accounting period.
OH3 - Excess capital allowances indicated by offsetexcesscapallow.  If offsetexcesscapitalallow is true, should enter a value in this field.
clawback - The clawback of any relief previously granted due to the sale of property during the year.
					</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="prioryear" type="ros:positive8" use="optional"/>
						<xsd:attribute name="ringfenced" type="ros:positive8" use="optional"/>
						<xsd:attribute name="offsetexcesscapallow" type="ros:boolean" default="false"/>
						<xsd:attribute name="OH3" type="ros:positive8" use="optional"/>
						<xsd:attribute name="clawback" type="ros:positive8" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InvestmentIncome">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="InterestInState" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
OD3 - Gross interest received or credited (without deduction of Irish Tax).  0% of (Sum of Gross Interest (OD3) and Other Income (OD8) under deduction of Irish Tax) + Euro 5 cannot be less than Other Income Tax.
OD6 - Gross interest received or credited (under deduction of Irish Tax).
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="OD3" type="positive10Max" use="optional"/>
						<xsd:attribute name="OD6" type="positive10Max" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="OtherIncome" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
OD8 - Other Income received under deduction of Irish Tax. -  0% of (Sum of Gross Interest (OD3) and Other Income (OD8) under deduction of Irish Tax) + Euro 5 cannot be less than Other Income Tax.
OD4 - Other Income received without deduction of Irish Tax.
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="OD8" type="positive10Max" use="optional"/>
						<xsd:attribute name="OD4" type="positive10Max" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Foreign" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
OF5 - Gross income before deduction of Irish and foreign tax.
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="OF5" type="positive10Max" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ForeignDeposits" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
foreignbankdeposits- Indicator of whether any Foreign Bank Accounts was opened in this accounting period, of which the company was the beneficial owner.										</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="foreignbankdeposits" type="ros:boolean" default="false"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ExemptProfits" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
exemptprofitsentitlement-Profits in respect of which the company has a statutory entitlement to exemption.																</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="exemptprofitsentitlement" type="ros:positive8" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DividendWithholdingTax" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
divwithtax - Indicator of whether the company has made a distribution in this accounting period.																	</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="divwithtax" type="ros:boolean" default="false"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ForeignAccounts" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>
nameacct - Name of bank where deposit account was opened.  Becomes required when any other attribute in the element is not empty.
addressacct1 - Address of bank where deposit account was opened.
addressacct2 - Address of bank where deposit account was opened.
addressacct3 - Address of bank where deposit account was opened.
dateacct - The date the account was opened. Must be before the date of Upload.  Becomes required when any other attribute in the element is not empty.
amountdeposited - Amount deposited on opening the account.  Becomes required when any other attribute in the element is not empty.
nameintermediary - Name of intermediary through whom account was opened.
addressintermediary1 - Address of intermediary through whom account was opened.
addressintermediary2 - Address of intermediary through whom account was opened.
addressintermediary3 - Address of intermediary through whom account was opened.						
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="nameacct" type="ros:alpha25" use="optional"/>
						<xsd:attribute name="addressacct1" type="ros:alpha25" use="optional"/>
						<xsd:attribute name="addressacct2" type="ros:alpha25" use="optional"/>
						<xsd:attribute name="addressacct3" type="ros:alpha25" use="optional"/>
						<xsd:attribute name="dateacct" type="ros:date" use="optional"/>
						<xsd:attribute name="amountdeposited" type="ros:positive8" use="optional"/>
						<xsd:attribute name="nameintermediary" type="ros:alpha25" use="optional"/>
						<xsd:attribute name="addressintermediary1" type="ros:alpha25" use="optional"/>
						<xsd:attribute name="addressintermediary2" type="ros:alpha25" use="optional"/>
						<xsd:attribute name="addressintermediary3" type="ros:alpha25" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="MoreForeignAccounts" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
moreaccounts - Indicator of whether the company has more foreign bank accounts.						
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="moreaccounts" type="ros:boolean" default="false"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CapitalGains">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AssetsDisposed" minOccurs="0">
					<xsd:complexType>
						<xsd:annotation>
							<xsd:documentation>
agriland - Indicator whether any agricultural land or buildings were disposed of.
acreage - Acreage of the agricultural land disposed.
shares - The type of shares or securities that were disposed of.-	1 for Quoted-	2 for Unquoted-	3 for Quoted  Unquoted
commpremises - Indicator of whether any commercial premises were disposed of.
respremises - Indicator whether any residential premises were disposed of .
otherassets - Indicator whether any other assets were disposed of in the filing period.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:attribute name="agriland" type="ros:boolean" default="false"/>
						<xsd:attribute name="acreage" type="acreage8" use="optional"/>
						<xsd:attribute name="shares" use="optional">
							<xsd:simpleType>
								<xsd:restriction base="xsd:integer">
									<xsd:enumeration value="1"/>
									<xsd:enumeration value="2"/>
									<xsd:enumeration value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="commpremises" type="ros:boolean" default="false"/>
						<xsd:attribute name="respremises" type="ros:boolean" default="false"/>
						<xsd:attribute name="otherassets" type="ros:boolean" default="false"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="DetailsOfDisposals" minOccurs="0"/>
				<xsd:element name="Acquisitions" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
armslength - Indicator of whether asset was acquired not at arms length.
acquisitioncosts - The costs of Acquisitions -indexed where appropriate.
enhanceexpenditure - The Enhancement expenditure claimed.
netgain - Net gain on the acquisition . Chargeable gain must equal net gain.
loss - Any loss.
lossesforward - Losses brought forward.
chargeableathigher - Capital gains chargeable at 40%.
chargeableatlower - Capital gains chargeable at 20%. Chargeable gain must equal net gain.
previousgains - Previous Gains rolled over.
rolloverrelief - Rollover Relief.
rateoftax - Percentage rate of tax. Required if a value has been entered for previousgains.				
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="armslength" type="ros:boolean" default="false"/>
						<xsd:attribute name="acquisitioncosts" type="ros:positive8" use="optional"/>
						<xsd:attribute name="enhanceexpenditure" type="ros:positive8" use="optional"/>
						<xsd:attribute name="netgain" type="ros:positive8" use="optional"/>
						<xsd:attribute name="loss" type="ros:positive8" use="optional"/>
						<xsd:attribute name="lossesforward" type="ros:positive8" use="optional"/>
						<xsd:attribute name="chargeableathigher" type="ros:positive8" use="optional"/>
						<xsd:attribute name="chargeableatlower" type="ros:positive8" use="optional"/>
						<xsd:attribute name="previousgains" type="ros:positive8" use="optional"/>
						<xsd:attribute name="rolloverrelief" type="ros:positive8" use="optional"/>
						<xsd:attribute name="rateoftax" type="ros:rate" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ChargeableAssetsAcquired" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
assetsacquired - Indicator of chargeable assets where acquired during the year.										
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="assetsacquired" type="ros:boolean" default="false"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ChargeableAssets" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
assetdescription - 1 or 2 or 3 or 4 or 5 or 6 or 7 or 8 or 9,
required Description of Asset:·	
1 for Agricultural Land·	
2 for Development Land·
3 for Shares (quoted and unquoted)·
4 for Commercial Premises·	
5 for Residential Premises·	
6 for Other Business Assets·	
7 for Antiques·	
8 for Paintings·	
9 for Other
Becomes required when any other attribute in the element is not empty
dateacquisition - Date of Acquisition. Must be before the date of Upload. Becomes required when any other attribute in the element is not empty
costacquistion - Cost of Acquisition. Becomes required when any other attribute in the element is not empty
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="assetdescription" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:integer">
									<xsd:enumeration value="1"/>
									<xsd:enumeration value="2"/>
									<xsd:enumeration value="3"/>
									<xsd:enumeration value="4"/>
									<xsd:enumeration value="5"/>
									<xsd:enumeration value="6"/>
									<xsd:enumeration value="7"/>
									<xsd:enumeration value="8"/>
									<xsd:enumeration value="9"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="dateacquisition" type="ros:date" use="required"/>
						<xsd:attribute name="costacquisition" type="ros:positive8" use="required"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CapitalGainsOnLand">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AssetsDisposed" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
developmentland - Indicator whether any development land or buildings were disposed of.
acreage - Acreage of the development land disposed.
shares - Indicator of whether any shares or securities were disposed of
commpremises - Indicator of whether any commercial premises were disposed of.
respremises - Indicator whether any residential premises were disposed of.
otherassets - Indicator whether any other assets were disposed of in the filing period.						
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="developmentland" type="ros:boolean" default="false"/>
						<xsd:attribute name="acreage" type="acreage8" use="optional"/>
						<xsd:attribute name="shares" type="ros:boolean" default="false"/>
						<xsd:attribute name="commpremises" type="ros:boolean" default="false"/>
						<xsd:attribute name="respremises" type="ros:boolean" default="false"/>
						<xsd:attribute name="otherassets" type="ros:boolean" default="false"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="DetailsOfDisposals" minOccurs="0"/>
				<xsd:element name="Acquisitions" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
armslength - Indicator of whether asset was acquired not at arms length.
acquisitioncosts - The costs of Acquisitions -indexed where appropriate.
currentuse - The current use value – indexed where appropriate. 
costlesscurruse - The cost less current use value – no indexation. 
enhanceexpenditure - The Enhancement expenditure claimed.
netgain - Net gain on the acquisition. Chargeable gains must equal net gain.
loss - Any loss.
lossesforward - Losses brought forward.
chargeableatlower - Capital gains chargeable at 20%. Chargeable gains must equal net gain.
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="armslength" type="ros:boolean" default="false"/>
						<xsd:attribute name="acquisitioncosts" type="ros:positive8" use="optional"/>
						<xsd:attribute name="currentuse" type="ros:positive8" use="optional"/>
						<xsd:attribute name="costlesscurruse" type="ros:positive8" use="optional"/>
						<xsd:attribute name="enhanceexpenditure" type="ros:positive8" use="optional"/>
						<xsd:attribute name="netgain" type="ros:positive8" use="optional"/>
						<xsd:attribute name="loss" type="ros:positive8" use="optional"/>
						<xsd:attribute name="lossesforward" type="ros:positive8" use="optional"/>
						<xsd:attribute name="chargeableatlower" type="ros:positive8" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DeductionsReliefs">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
OH2 - Management expenses.
OH8 - Other deductions.
specifya - First part of details of other deductions.
specifyb - Second part of details of other deductions.			
			</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="Deductions" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="OH2" type="positive10Max" use="optional"/>
						<xsd:attribute name="OH8" type="positive10Max" use="optional"/>
						<xsd:attribute name="specifya" type="ros:alpha70" use="optional"/>
						<xsd:attribute name="specifyb" type="ros:alpha70" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ReliefsAdvanceCT" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
OR3 - Manufacturing relief.
firsttimerelief - Indicator of whether manufacturing relief is being claimed for the first time.
OR5 - Small company relief.
assoccomprelieffrom - Indicator of whether relief is being claimed from associated companies.
OR - Small Companies Relief surrendered from Associated Companies.
assoccompreliefto - Indicator of whether relief is being surrendered to associated companies.
OZ1 - Small Companies Relief surrendered to Associated Companies.
OL1 - Manufacturing Losses. If a value is entered in this field OM4 must be > 0.
OL2 - Manufacturing Charges. If a value is entered in this field OM5 must be > 0.
OL3 - Manufacturing Group Relief.If a value is entered in this field OM6 must be > 0.
OL4 - Trading Losses.If a value is entered in this field OH1 must be > 0.
OL5 - Trading Charges.If a value is entered in this field OH6 must be > 0.
OL6 - Trading Group Relief.  If a value is entered in this field OH7 must be > 0.
OR2 - Double taxation relief. Can only be > 0 if OF5 > 0.
OR9 - Other reliefs.
reliefdetailsa - First part of details of other deductions.
reliefdetailsb - Second part of details of other deductions.						
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="OR3" type="ros:positive8" use="optional"/>
						<xsd:attribute name="firsttimerelief" type="ros:boolean" default="false"/>
						<xsd:attribute name="OR5" type="ros:positive8" use="optional"/>
						<xsd:attribute name="assoccomprelieffrom" type="ros:boolean" default="false"/>
						<xsd:attribute name="OR7" type="ros:positive8" use="optional"/>
						<xsd:attribute name="assoccompreliefto" type="ros:boolean" default="false"/>
						<xsd:attribute name="OZ1" type="ros:positive8" use="optional"/>
						<xsd:attribute name="OL1" type="ros:positive8" use="optional"/>
						<xsd:attribute name="OL2" type="ros:positive8" use="optional"/>
						<xsd:attribute name="OL3" type="ros:positive8" use="optional"/>
						<xsd:attribute name="OL4" type="ros:positive8" use="optional"/>
						<xsd:attribute name="OL5" type="ros:positive8" use="optional"/>
						<xsd:attribute name="OL6" type="ros:positive8" use="optional"/>
						<xsd:attribute name="OR2" type="ros:positive8" use="optional"/>
						<xsd:attribute name="OR9" type="ros:positive8" use="optional"/>
						<xsd:attribute name="reliefdetailsa" type="ros:alpha70" use="optional"/>
						<xsd:attribute name="reliefdetailsb" type="ros:alpha70" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="AssCompDetailsFrom" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>
asscompname - The Name of the associate company from which the relief is being claimed. Relevant if assoccomprelieffrom is set to true
asscompno - The reference number from which the relief is being claimed. Relevant if assoccomprelieffrom is set to true
asscomprelief - The amount of small companies relief being claimed from the associated company indicated by asscompno. Relevant if assoccomprelieffrom is set to true.			
					</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="asscompname" type="ros:alpha40" use="optional"/>
						<xsd:attribute name="asscompno" type="ros:registration" use="optional"/>
						<xsd:attribute name="asscomprelief" type="ros:positive8" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="AssCompDetailsTo" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>
asscompname - The Name of the associate company from which the relief is being claimed. Relevant if assoccompreliefto is set to true
asscompno - The reference number from which the relief is being claimed. Relevant if assoccompreliefto is set to true
asscomprelief - The amount of small companies relief being claimed from the associated company indicated by asscompno. Relevant if assoccompreliefto is set to true.			
					</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="asscompname" type="ros:alpha40" use="optional"/>
						<xsd:attribute name="asscompno" type="ros:registration" use="optional"/>
						<xsd:attribute name="asscomprelief" type="ros:positive8" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Credits" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
OT5 - Professional services withholding tax.
OT6 - Other income tax borne on income received.
taxexemptprofits - Indicator of whether the amount entered at OT6 includes tax borne on exempt profits.				
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="OT5" type="ros:positive10Max" use="optional"/>
						<xsd:attribute name="OT6" type="ros:positive10Max" use="optional"/>
						<xsd:attribute name="taxexemptprofits" type="ros:boolean" default="false"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Surcharges">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SurchargesSection440" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
OV1 - Surcharges on undistributed investment and/or estate income.
OV2 - Surcharges on undistributed income of service companies.
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="OV1" type="ros:positive8" use="optional"/>
						<xsd:attribute name="OV2" type="ros:positive8" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="AmountsPayable" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
OV9 - Payments in respect of which the company is liable to account for income tax under Section 239 TCA1997.
OV3 - The amount of tax relief at source in respect of Insurance premiums paid as a perquisite for employees to an authorised user. 
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="OV9" type="ros:positive8" use="optional"/>
						<xsd:attribute name="OV3" type="ros:positive8" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LtdCpyLess250">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Income" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
salesandrecip -  Sales/Receipts/Turnover. Required if govrecips and otherinc are empty. salesandrecip + govrecips + otherinc must be greater than 13000000
govrecips -  Receipts from government agencies. Required if salesandrecip and otherinc are empty. salesandrecip + govrecips + otherinc must be greater than 13000000
otherinc -  Other income. Required if salessandrecip and govrecips are empty. salesandrecip + govrecips + otherinc must be greater than 13000000			
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="salesandrecip" type="accountsValue" use="optional"/>
						<xsd:attribute name="govrecips" type="accountsValue" use="optional"/>
						<xsd:attribute name="otherinc" type="accountsValue" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="tradaccitemless250" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
purchases - Purchases.
grosstp	- Gross trading profits.
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="purchases" type="ros:positive8" use="optional"/>
						<xsd:attribute name="grosstp" type="ros:positive8" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="expdeductless250" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
swscosts - Salaries/Wages, Staff costs.
directors - Director’s remuneration including fees, bonuses, etc.
cntrctrs - Sub- contractors.
cpfees - Consultancy, professional fees.
mts - Motor, Travel and subsistence.
rprsrenew - Repairs/renewals.
intpay - Interest payables.
depwriteoff - Depreciation, goodwill, capital write-off .
provdb - Provision including bad debts.
totexp - Other expenses- total .						
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="swscosts" type="ros:positive8" use="required"/>
						<xsd:attribute name="directors" type="ros:positive8" use="required"/>
						<xsd:attribute name="cntrctrs" type="ros:positive8" use="required"/>
						<xsd:attribute name="cpfees" type="ros:positive8" use="optional"/>
						<xsd:attribute name="mts" type="ros:positive8" use="required"/>
						<xsd:attribute name="rprsrenew" type="ros:positive8" use="optional"/>
						<xsd:attribute name="intpay" type="ros:positive8" use="optional"/>
						<xsd:attribute name="depwriteoff" type="ros:positive8" use="optional"/>
						<xsd:attribute name="provdb" type="ros:integer8" use="optional"/>
						<xsd:attribute name="totexp" type="ros:positive8" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="balcapless250" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
direcbal -  Balance of director’s current and loan account.
swfgoods - Stock, Work in progress, finished goods.
bdprepay - Debtors and prepayments.
cashbank - Cash/Bank - debit.
blocredit - Bank/loans/overdraft – credit.
accruals - Creditors and accruals.
cabalan - Client account balances- debit .
cabalancredit - Client account balances - credit.
taxcredit - Tax creditors.
sharefunds - Shareholders funds.					
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="direcbal" type="ros:integer8" use="required"/>
						<xsd:attribute name="swfgoods" type="ros:positive8" use="optional"/>
						<xsd:attribute name="bdprepay" type="ros:positive8" use="optional"/>
						<xsd:attribute name="cashbank" type="ros:positive8" use="required"/>
						<xsd:attribute name="blocredit" type="ros:positive8" use="required"/>
						<xsd:attribute name="accruals" type="ros:positive8" use="optional"/>
						<xsd:attribute name="cabalan" type="ros:positive8" use="optional"/>
						<xsd:attribute name="cabalancredit" type="ros:positive8" use="optional"/>
						<xsd:attribute name="taxcredit" type="ros:positive8" use="optional"/>
						<xsd:attribute name="sharefunds" type="ros:positive8" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AdjustLess250">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AdjustProfComp" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
netprofacct - Profit on ordinary activities before taxation. Either the netprofacct or the lossordact must be filled in. Not allowed if lossordact present.
lossordact - Loss on ordinary activities before taxation. Either the netprofacct or the lossordact must be filled in. Not allowed if netprofacct present.						
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="netprofacct" type="accountsValue" use="optional"/>
						<xsd:attribute name="lossordact" type="accountsValue" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Adjustments" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
mtrrestrict - Motor expenses restriction.
subsanddon - Subscriptions and donations .
entertexp - Entertainment expenses.
legalexpen - Legal and professional expenses.
sect130 - Section 130 loan interest.
lighthp - Light Heat and phone.
netgain - Net gain on sale of fixed assets, not allowed if netloss present.
netloss - Net loss on sale of fixed assets not allowed if netgain present.				
				</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="mtrrestrict" type="ros:positive8" use="optional"/>
						<xsd:attribute name="subsanddon" type="ros:positive8" use="optional"/>
						<xsd:attribute name="entertexp" type="ros:positive8" use="optional"/>
						<xsd:attribute name="legalexpen" type="ros:positive8" use="optional"/>
						<xsd:attribute name="sect130" type="ros:positive8" use="optional"/>
						<xsd:attribute name="lighthp" type="ros:positive8" use="optional"/>
						<xsd:attribute name="netgain" type="ros:positive8" use="optional"/>
						<xsd:attribute name="netloss" type="ros:positive8" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AccountDetails">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AccTurnDetails" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
ptofgrp - Indicator of whether the company is part of a group and the turnover from this trade is greater than €13,000,000.
parentnumber - The Parent Company Reference Number. Must be a valid revenue reference number.
accdtfrom - Starting date of the period covered by the “company as a member of a group” accounts data.  Must be before the date on which the return is being filed.  Must be before the end date of the period covered by the accounts data. Becomes required if ptofgrp is true.
accdtto - Ending date of the period covered by the “company as a member of a group” accounts data.   Must be before the date on which the return is being filed.  Must be no more than twelve months after starting date for which the return is being filed.  Must be after the starting date covered by the accounts data being submitted. Becomes required if ptofgrp is true.
alrsubmit - Indicator of whether the accounts data has already been submitted.
rtndtfrom - Starting date of the period covered by the previously submitted accounts data. Must be before the date on which the return is being filed.  Must be before the end date of the period covered by the accounts data. Becomes required if alrsubmit is true.
rtndtto - Ending date of the period covered by the previously submitted accounts data. Must be before the date on which the return is being filed.  Must be before the end date of the period covered by the accounts data.  Becomes required if alrsubmit is true.
periodenddt	 - Ending date of  the return with which the accounts were submitted. Must be before the date on which the return is being filed. Becomes required if alrsubmit is true.
greatertenm - Indicator of whether the income is greater than €13,000,000..
lessquarterm - If none of the above categories apply,this menu should be completed.					
					</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="ptofgrp" type="ros:boolean" default="false"/>
						<xsd:attribute name="parentnumber" type="ros:registration" use="optional"/>
						<xsd:attribute name="accdtfrom" type="ros:date" use="optional"/>
						<xsd:attribute name="accdtto" type="ros:date" use="optional"/>
						<xsd:attribute name="alrsubmit" type="ros:boolean" default="false"/>
						<xsd:attribute name="rtndtfrom" type="ros:date" use="optional"/>
						<xsd:attribute name="rtndtto" type="ros:date" use="optional"/>
						<xsd:attribute name="periodenddt" type="ros:date" use="optional"/>
						<xsd:attribute name="greatertenm" type="ros:boolean" use="optional" default="false"/>
						<xsd:attribute name="lessquarterm" type="ros:boolean" use="optional" default="false"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AccountNotes">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Reservations" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
xacts - Indicator of whether there are any reservations with regard to transactions with the parent or group company.
acceptance - Indicator of whether there are any reservations with regard to acceptance of management assurances.
breakdown - Indicator of whether there are any reservations with regard to accounting breakdown.
substan - Indicator of whether there are any reservations with regard to inability to substantiate cash transactions.
notesother - Indicator of whether there are any other reservations.					
					</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="xacts" type="ros:boolean" default="false"/>
						<xsd:attribute name="acceptance" type="ros:boolean" default="false"/>
						<xsd:attribute name="breakdown" type="ros:boolean" default="false"/>
						<xsd:attribute name="substan" type="ros:boolean" default="false"/>
						<xsd:attribute name="notesother" type="ros:boolean" default="false"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Change" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
ntsdeprec - Indicator of whether there have been any changes in accounting policy with regard to depreciation of fixed asset.
ntsstocks - Indicator of whether there have been any changes in accounting policy with regard to stocks and work in progress.
prpdevelop - Indicator of whether there have been any changes in accounting policy with regard to property development transactions.
chngother - Indicator of whether there have been any other changes in accounting policy.					
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="ntsdeprec" type="ros:boolean" default="false"/>
						<xsd:attribute name="ntsstocks" type="ros:boolean" default="false"/>
						<xsd:attribute name="prpdevelop" type="ros:boolean" default="false"/>
						<xsd:attribute name="chngother" type="ros:boolean" default="false"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PriorYear" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
pradjust - Indicator of whether there are prior year adjustments arising from changes in accounting policies or from correction of fundamental errors.												</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="pradjust" type="ros:boolean" default="false"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ChangeAct" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
activities - Indicator of whether there has been a change in the nature of the company’s activities.																</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="activities" type="ros:boolean" default="false"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Exceptional" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
excepitem-	Indicator of whether there is any exceptional item relating to any other exceptional items.																</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="excepitem" type="ros:boolean" default="false"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ExtraNotes" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
notesbox - Any additional information relating to the return.	
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="notesbox" type="ros:alpha500" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CalculationSummary">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Liability" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
OP8 - 	Positive Tax Liability - Money owed to Revenue. Should be provided if shortnoarequested is set to true. 
OR8 -  	Negative Tax Liability - Money owed by Revenue. Should be provided if shortnoarequested is set to true.
					</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="OP8" type="ros:liability"/>
						<xsd:attribute name="OR8" type="ros:liability"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Section1085Restriction" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
indicaterestriction - Indicator of whether the return is being filed late, and the customer has taken account of the restrictions imposed by Section1085 TCA 1997.				
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="indicaterestriction" type="ros:boolean" default="false"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="NoticeOfAssessment" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
shortnoarequested-	Indicator that a Short Notice of Assessment has been requested.				
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="shortnoarequested" type="ros:boolean" use="optional" default="false"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DetailsOfDisposals">
		<xsd:annotation>
			<xsd:documentation>
connectedparties - Indicator whether any of the disposals in AssetsDisposed were between connected parties.
totalconsideration - The total consideration of the disposals in AssetsDisposed.
incidentalcosts - Any incidental costs incurred in disposing of the assets in AssetsDisposed.			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="connectedparties" type="ros:boolean" default="false"/>
			<xsd:attribute name="totalconsideration" type="ros:positive8" use="optional"/>
			<xsd:attribute name="incidentalcosts" type="ros:positive8" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SummaryCalculation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Assessments">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ManufacturingIncome">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="TradeIncome">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ExceptedTradesIncome">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ShippingIncome">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="TonnageIncome">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="RentalIncome">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Interest">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ForeignIncome">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="OtherIncome">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="CapitalGains">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="PreviousGains">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="total" type="xsd:integer" use="required"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Deductions">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Losses">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Charges">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="GroupRelief">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ManagementExpenses">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="OtherDeductions">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ReliefQualifyingGifts">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ExcessCapitalAllowances">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="total" type="xsd:integer" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TaxableIncome">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CorporationTax" minOccurs="0" maxOccurs="4">
								<xsd:complexType>
									<xsd:complexContent>
										<xsd:extension base="ros:taxbreakdown">
											<xsd:attribute name="band" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:enumeration value="oldhigher"/>
														<xsd:enumeration value="newlower"/>
														<xsd:enumeration value="higher"/>
														<xsd:enumeration value="ship"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:extension>
									</xsd:complexContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="TaxOnChargeable" minOccurs="0" maxOccurs="2">
								<xsd:complexType>
									<xsd:complexContent>
										<xsd:extension base="ros:taxbreakdown">
											<xsd:attribute name="band" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:enumeration value="old"/>
														<xsd:enumeration value="new"/>
														<xsd:enumeration value="higher"/>
														<xsd:enumeration value="tonnage"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:extension>
									</xsd:complexContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="total" type="xsd:integer" use="optional"/>
						<xsd:attribute name="totaltax" type="xsd:decimal" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Reliefs">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ManufacturingRelief">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SmallCompaniesRelief">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="TradeDeductions">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="OtherTradeDeductions">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ReliefSurrendered">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="DoubleTaxationRelief">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="OtherReliefs">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="TaxBroughtForward">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="total" type="xsd:integer" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Surcharges">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SurchargesSection440">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SurchargesSection441">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="PayableUnderDeduction">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="TRS">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="total" type="xsd:integer" use="optional"/>
						<xsd:attribute name="totalreliefssurcharges" type="xsd:integer" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Credits">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="GrossWithholdingTax">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="OtherIncomeTax">
								<xsd:complexType>
									<xsd:attribute name="entered" type="xsd:integer" use="optional"/>
									<xsd:attribute name="allowed" type="xsd:integer" use="optional"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="total" type="xsd:integer" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="companyname" type="ros:alpha40" use="required"/>
			<xsd:attribute name="referencenumber" type="ros:registration" use="required"/>
			<xsd:attribute name="date" type="ros:date" use="required"/>
			<xsd:attribute name="currency" type="ros:currency" use="required"/>
			<xsd:attribute name="periodstart" type="ros:date" use="required"/>
			<xsd:attribute name="periodend" type="ros:date" use="required"/>
			<xsd:attribute name="totalliability" type="xsd:decimal" use="required"/>
			<xsd:attribute name="totalliabilityeuro" type="xsd:decimal" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Acknowledgement">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ros:AcknowledgementType">
					<xsd:sequence>
						<xsd:element ref="SummaryCalculation" minOccurs="0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
