ct1/pit1/v16/formct1-v16-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- 
Document History:
======== Version 1.0 ====================================

i. Document Created 24/11/2015

ii. /FormCt1/CompanyDetails/
		[Removed the following element and all it's attributes]
			-ChangeOfDetails

iii. /
		[Removed the following complexType]
			-Address4Lines

iv. /FormCt1/
		[Removed the following element and all it's attributes]
			-ProfitsGainsRezonedLand

v. /FormCt1/SelfAssessmentCgtIt/
		[Removed the following attributes]
			-@cceProfitChargeTaxIt
			-@cceTaxChargeIt
			-@cceTaxPayableIt
			-@cceBalanceTaxPayableIt
			-@cceBalanceTaxOverpaidIt
			-@selfProfitChargeTaxIt
			-@selfTaxChargeIt
			-@selfTaxPayableIt
			-@selfAmtSurchargeDueIt
			-@selfAmtLptSurchargeDueIt
			-@selfAmtTaxPaidDirectIt
			-@selfBalanceTaxPayableIt
			-@selfBalanceTaxOverpaidIt
			-@agreeWithFiguresIt
			-@declareSelfAssessmentIt

vi. /Address/
		[Added the following attribute to this complexType]
			+@eirCode

vii. /FormCt1/PropertyBasedIncentives/IndustBuildAllowance/
		[Added the following elements of type OccupierInvestor]
			+LivingCityInitiative
			+AviationServicesFacilities

viii. /FormCt1/CompanyDetails		
		[Added the following element]
			+ExemptionFromTax
			[with the following attributes]
				+@availOfExemptionOfTax
				+@dateOfdisposal
				+@amountOfGain

ix. /FormCt1/CompanyDetails/ForeignCompany/ForeignCompanyDetails/
		[Added the following attributes]
			+@eirCodeLegalOwn
			+@eirCodeBenefOwn

x. /FormCt1/CompanyDetails/BeneficialOwner
		[Added the following attribute]
			+@eirCode

xi. /FormCt1/CompanyDetails/Participator
		[Added the following attribute]
			+@eirCode

xii. /FormCt1/DividendWithholdingTax/StockArrangement
		[Added the following attribute]
			+@eirCode

xiii. /FormCt1/TradingResults/ProfitResourceRentTax/PrrtDetails
	[Added the following attribute]
		+@dateAuthorisationGranted

xiv. /FormCt1/TradingResults
	[Added the PetroleumProductionTax element and its attributes]
		+@totalPptDue

xv. /FormCt1/TradingResults/PetroleumProductionTax/
	[Added the PptDetails repeating subelement and its attributes]
		+@licenceNumber
		+@dateAuthorisationAwarded
		+@aggrCumulativeCosts
		+@amtOfCostsApplicable
		+@amtOfCostsApplicablePrevious
		+@aggrCumulativeGrossRevenue
		+@amtOfRevenueApplicable
		+@amtOfRevenueApplicablePrevious
		+@amtOfTransportationExpenditure
		+@amtOfEligibleExpenditure
		+@amtOfNetIncome
		+@amtOfPetroleumTaxPayable

xvi. /FormCt1/SummaryCalculation/
	[Added the following attributes]
		+@totalPptDue
		
xvii. /FormCt1/TradingResults/TradeProfits
		[Added the following attributes]
			+@livingCityYes
			+@livingCityNo
			+@ibaAddress
			+@ibaEirCode
			+@aggAmountExpenditure

xviii. /FormCt1/TradingResults/TradeProfits
		[Added the following element]
			+LivingCityInit
			[with the following attributes]
				+@amountOfClaim
				+@addressQualPremises
				+@lciEirCode
				+@aggQualExpendDetails
				+@serviceDescription
				+@marketValue

xiv. /FormCt1/CapitalGainsDevelopmentLand
		[Removed the following element and all it's attributes]
			-WindFallGains

xv. /FormCt1/TradingResults/TradeProfits
		[Removed the following attribute]
			-@accountedForSec1085

xvi. /FormCt1/Deductions/ReliefOnValueBasis
		[Removed the following attribute]
			-@tradingAccountedForSec1085

xvii. /
		[Added the following complexType]
			+TradeProfit
			[with the following sub-elements]
				+IntangibleAssets
				+LivingCity
			[and with the following attributes]
				+@profitsBeforeCapAllow
				+@balancingCharges
				+@capAllPropWithIncentives
				+@machineryAndPlant
				+@energyEfficient
				+@computerSoftware
				+@industrialBuildings
				+@other
				+@expendPatentRights
				+@capAllowPatentRights
				+@expendKnowHow
				+@expendKnowHowAllowance
				+@tradingLossesBroughtFwd
				+@amountOfLossesUtilised
				+@balTradeLossAvailCarryFwd
				+@lossOffsetTradingIncome
				+@charges
				+@groupRelief
				+@amtGrpReliefExcessCapAllow
				+@amtGrpReliefTradeCharges
				+@livingCityYes
				+@livingCityNo
				+@ibaAddress
				+@ibaEirCode
				+@aggAmountExpenditure

xviii. /
		[Added the following complexType]
			+QualifyingAssetsClaims
			[with the following attributes]
				+@priorClaims
				+@newClaims
				+@totalAssets

xix. /FormCt1/TradingResults/TradeProfits/
		[Changed to use TradeProfit complexType as a base]
			[with the following attribute]
				+@lossClaimUnderCarryBack

xx. /FormCt1/TradingResults/
		[Added the following element using TradeProfit complexType as a base]
			+QualifyingAssetsProfits
			[with the following sub-elements]
				+ComputerPrograms
				+QualifyingPatents
				+Section769RClaims
				+FamilyOfAssets
				+OtherAssets
			[and with the following attributes]
				+@reliefClaimedSec769I
				+@priorYearProtectiveClaim
				+@currentYearProtectiveClaim
				+@totalProtectiveClaim

xxi. /FormCt1/Deductions/ValueBasis/ValueBasisCalculation/
		[Added the following attributes]
			+@excessQACapAllow
			+@excessQALosses
			+@excessQACharges
			+@excessQAGroupRelief

xxii. /FormCt1/Deductions/ReliefOnValueBasis/
		[Added the following attributes]
			+@qualAssetsCapitalAllowance
			+@qualAssetsLosses
			+@qualAssetsCharges
			+@qualAssetsGroupRelief

xxiii. /FormCt1/DividendWithholdingTax/
		[Removed the following attribute]
			-@stallionProfitsTotal
			-@dwtDeductedStallionProfits

xxiv. /FormCt1/IrishInvestmentIncome/OtherIrishIncome/
		[Removed the following attributes]
			-@stallionProfits
			-@greyhoundStudFees
			-@stallionLossesCarryForwd
			-@greyhoundLossesCarryForwd

xxv. /FormCt1/SummaryCalculation/
		[Removed the following attributes]
			-@manufacturingRelief
			-@manufactTradeDeductions

xxvi. /FormCt1/CompanyDetails/
		[Removed the following attribute]
			-@dateOfCessationOfTrade

xxvii. /FormCt1/Prepopulation/
	[Added the following element]
		+RCTDetails
		[with the following attributes]
			+@grossPayment
			+@deductionAmount
			+@periodStart
			+@periodEnd
			
17.2 New Requirements 30/01/17

xxviii/  FormCt1/TradingResults/QualifyingAssetsProfits
			[added the following attribute]			
				+@carryBackOfLosses
				
xxviv / formCT1/Deductions/DeductionExpenses
		[added the following attribute]	
			+@holdingCompanyInTieredStructure
			+@reliefAmount

 xx / formCt1/Deductions/ReliefOnValueBasis
 			[added the following attribute]	
			+@qualAssetsLossesCarriedBack
			
 xxi /formct1/QualifyingAssetsClaims
 			[added the following attribute]
 			+@numPriorClaims
 			+@numNewClaims
 			+@numTotalAssets
 			
 			
 xxii /formct1/TradingResults/QualifyingAssetsProfits
 			[added the following attribute]
 			+@QualExpIPAsset
 			+@OverallExpIPAsset
 			+@OverallIncomeIPAsset
 			
			
xxi./  / formCt1/Deductions/DeductionExpenses			
			+@indicatereliefunders2474A
			+@taxrefjoint
 -->
<xsd:schema xmlns="http://www.ros.ie/schemas/formct1/v16/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ros.ie/schemas/formct1/v16/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="FormCt1">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CompanyDetails" minOccurs="0"/>
				<xsd:element ref="TradingResults" minOccurs="0"/>
				<xsd:element ref="ExtractsAccounts" minOccurs="0"/>
				<xsd:element ref="RentalIncome" minOccurs="0"/>
				<xsd:element ref="IrishInvestmentIncome" minOccurs="0"/>
				<xsd:element ref="ForeignIncome" minOccurs="0"/>
				<xsd:element ref="ExemptIncome" minOccurs="0"/>
				<xsd:element ref="CapitalGains" minOccurs="0"/>
				<xsd:element ref="ChargeableAssets" minOccurs="0"/>
				<xsd:element ref="Deductions" minOccurs="0"/>
				<xsd:element ref="ResearchAndDevelopmentCredit" minOccurs="0"/>
				<xsd:element ref="FilmCorporationTaxCredit" minOccurs="0"/>
				<xsd:element ref="CapitalGainsDevelopmentLand" minOccurs="0"/>
				<xsd:element ref="CloseCompanySurcharge" minOccurs="0"/>
				<xsd:element ref="RecoveryOfIncomeTax" minOccurs="0"/>
				<xsd:element ref="DividendWithholdingTax" minOccurs="0"/>
				<xsd:element ref="OtherCodes" minOccurs="0"/>
				<xsd:element ref="PropertyBasedIncentives" minOccurs="0"/>
				<xsd:element ref="Notes" minOccurs="0"/>
				<xsd:element ref="SelfAssessmentCt" minOccurs="0"/>
				<xsd:element ref="SelfAssessmentCgtIt" minOccurs="0"/>
				<xsd:element ref="Prepopulation" minOccurs="0"/>
				<xsd:element ref="SummaryCalculation" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="currency" type="currency" use="required" fixed="E"/>
			<xsd:attribute name="formversion" type="xsd:integer" use="required" fixed="16"/>
			<xsd:attribute name="language" type="language" use="required"/>
			<xsd:attribute name="product" type="text20" use="optional"/>
			<xsd:attribute name="numamendments" type="positive3" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CompanyDetails">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="BeneficialOwner" minOccurs="0" maxOccurs="100">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="BenOwnerNamePpsn" type="NameAndTaxRefNumber" minOccurs="0"/>
						</xsd:sequence>
						<xsd:attribute name="address" type="text140" use="optional"/>
						<xsd:attribute name="eirCode" type="text8" use="optional"/>
						<xsd:attribute name="percentageShare" type="percentage3_2" use="optional"/>
						<xsd:attribute name="percentageLoanStock" type="percentage3_2" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Participator" minOccurs="0" maxOccurs="100">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ParticipatorNamePpsn" type="NameAndTaxRefNumber" minOccurs="0"/>
						</xsd:sequence>
						<xsd:attribute name="address" type="text140" use="optional"/>
						<xsd:attribute name="eirCode" type="text8" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ForeignCompany" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ForeignCompanyDetails" minOccurs="0" maxOccurs="20">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="LegalOwnerNameAndPpsn" type="NameAndTaxRefNumber" minOccurs="0"/>
										<xsd:element name="BenefOwnerNameAndPpsn" type="NameAndTaxRefNumber" minOccurs="0"/>
									</xsd:sequence>
									<xsd:attribute name="legalOwnerForeignTaxRefNo" type="text20" use="optional"/>
									<xsd:attribute name="legalOwnerAddress" type="text140" use="optional"/>
									<xsd:attribute name="percentageShare" type="percentage3_2" use="optional"/>
									<xsd:attribute name="percentageLoanStock" type="percentage3_2" use="optional"/>
									<xsd:attribute name="foreignBenefOwnerTaxRefNo" type="text20" use="optional"/>
									<xsd:attribute name="addressBenefOwn" type="text140" use="optional"/>
									<xsd:attribute name="percentShareBenefOwn" type="percentage3_2" use="optional"/>
									<xsd:attribute name="percentLoanStockBenefOwn" type="percentage3_2" use="optional"/>
									<xsd:attribute name="eirCodeLegalOwn" type="text8" use="optional"/>
									<xsd:attribute name="eirCodeBenefOwn" type="text8" use="optional"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="incorporatedCountryName" type="text25" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="AssociatedCompany" minOccurs="0" maxOccurs="200">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Shareholder" minOccurs="0" maxOccurs="100">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ShareholderNamePpsn" type="NameAndTaxRefNumber" minOccurs="0"/>
									</xsd:sequence>
									<xsd:attribute name="percentageShare" type="percentage3_2" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="AssociatedCompanyNamePpsn" type="NameAndCTTaxRefNumber" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="NonResidentCompany" minOccurs="0" maxOccurs="20">
					<xsd:complexType>
						<xsd:attribute name="name" type="text40" use="optional"/>
						<xsd:attribute name="irishCroNumber" type="text40" use="optional"/>
						<xsd:attribute name="countryOfResidence" type="text40" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DirectorEmolument" minOccurs="0" maxOccurs="100">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DirectorNameAndPpsn" type="NameAndTaxRefNumber" minOccurs="0"/>
							<xsd:element name="DirectorEmolCompanyNamePpsn" type="NameAndCTTaxRefNumber" minOccurs="0"/>
						</xsd:sequence>
						<xsd:attribute name="acPeriodStartDate" type="date" use="optional"/>
						<xsd:attribute name="acPeriodEndDate" type="date" use="optional"/>
						<xsd:attribute name="salary" type="euros12" use="optional"/>
						<xsd:attribute name="expenses" type="euros12" use="optional"/>
						<xsd:attribute name="amountsPaid" type="euros12" use="optional"/>
						<xsd:attribute name="assetsTransferredToDirector" type="euros12" use="optional"/>
						<xsd:attribute name="assetsProvidedForDirector" type="euros12" use="optional"/>
						<xsd:attribute name="valueOfOtherBenefits" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DirectorAccount" minOccurs="0" maxOccurs="100">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DirectorAccountNamePpsn" type="NameAndTaxRefNumber" minOccurs="0"/>
						</xsd:sequence>
						<xsd:attribute name="openingBalanceDr" type="euros12" use="optional"/>
						<xsd:attribute name="openingBalanceCr" type="euros12" use="optional"/>
						<xsd:attribute name="debits" type="euros12" use="optional"/>
						<xsd:attribute name="credits" type="euros12" use="optional"/>
						<xsd:attribute name="closingBalanceDr" type="euros12" use="optional"/>
						<xsd:attribute name="closingBalanceCr" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ExpressionOfDoubt" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="declareExpressionOfDoubt" type="boolean" use="optional"/>
						<xsd:attribute name="details" type="text1000" use="optional"/>
						<xsd:attribute name="basis" type="text1000" use="optional"/>
						<xsd:attribute name="taxAmount" type="euros12" use="optional"/>
						<xsd:attribute name="documentList" type="text500" use="optional"/>
						<xsd:attribute name="guidelines" type="text500" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="AmendSelfAssessment" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="amendSelfAssessment" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="amendmentDetail" type="text1000" use="optional"/>
						<xsd:attribute name="amendmentReason1" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="amendmentReason2" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="amendmentReason3" type="boolean" use="optional" default="false"/>
					</xsd:complexType>
				</xsd:element>		
				<xsd:element name="ReturnContactDetails" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="agentTain" type="xsd:string" use="optional"/>
						<xsd:attribute name="clientRefNo" type="text30" use="optional"/>
						<xsd:attribute name="contactName" type="text40" use="optional"/>
						<xsd:attribute name="contactTelNo" type="text30" use="optional"/>
					</xsd:complexType>
				</xsd:element>		
				<xsd:element name="PurchaseOfOwnShares" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="quotedShares" type="euros12" use="optional"/>
						<xsd:attribute name="quotedSharesNotDistributed" type="euros12" use="optional"/>
						<xsd:attribute name="unquotedShares" type="euros12" use="optional"/>
						<xsd:attribute name="unquotedSharesNotDistributed" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>		
				<xsd:element name="AmendPriorAccountingPeriod" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="endDate" type="date" use="optional"/>
						<xsd:attribute name="amountOfLoanRepaid" type="euros12" use="optional"/>
						<xsd:attribute name="amountOfRefundDue" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="GroupForIrishTaxPurposes" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Subsidiary" minOccurs="0" maxOccurs="100">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SubsidiaryNameAndPpsn" type="NameAndCTTaxRefNumber" minOccurs="0"/>
									</xsd:sequence>
									<xsd:attribute name="countryOfResidence" type="text25" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SurrenderOfLosses" minOccurs="0" maxOccurs="100">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="SurrenderOfLossesNamePpsn" type="NameAndCTTaxRefNumber" minOccurs="0"/>
									</xsd:sequence>
									<xsd:attribute name="natureOfRelief" type="text40" use="optional"/>
									<xsd:attribute name="amountSurrendered" type="euros12" use="optional"/>
									<xsd:attribute name="qualifingAssets" type="boolean" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ClaimToLosses" minOccurs="0" maxOccurs="100">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ClaimToLossesNamePpsn" type="NameAndCTTaxRefNumber" minOccurs="0"/>
									</xsd:sequence>
									<xsd:attribute name="natureOfRelief" type="text40" use="optional"/>
									<xsd:attribute name="amountClaimed" type="euros12" use="optional"/>
									<xsd:attribute name="qualifingAssets" type="boolean" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ParentNameAndPpsn" type="NameAndCTTaxRefNumber" minOccurs="0"/>
						</xsd:sequence>
						<xsd:attribute name="parentCountryOfResidence" type="text25" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CompanyNameAndPpsn" type="NameAndCTTaxRefNumber" minOccurs="0"/>
				<xsd:element name="ExemptionFromTax" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="availOfExemptionOfTax" type="text5" use="optional"/>
						<xsd:attribute name="dateOfdisposal" type="date" use="optional"/>
						<xsd:attribute name="amountOfGain" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="numOfAssociatedCompanies" type="positive3" use="optional"/>
			<xsd:attribute name="hasNonResidentCompanies" type="text5" use="optional"/>
			<xsd:attribute name="tradeThroughBranchOrAgency" type="boolean" use="optional" default="false"/>
			<xsd:attribute name="numberOfTransactionSec817hb" type="text12" use="optional"/>
			<xsd:attribute name="accountPeriodStartDate" type="date" use="required"/>
			<xsd:attribute name="accountPeriodEndDate" type="date" use="required"/>
			<xsd:attribute name="additionalComments" type="boolean" use="optional"/>
			<xsd:attribute name="additionalCommentsDetails" type="text500" use="optional"/>
     		<xsd:attribute name="countryOfResidenceDetails" type="text35" use="optional"/>
			<xsd:attribute name="electionUnderSec628a2a" type="boolean" use="optional" default="false"/>
			<xsd:attribute name="dtCompanyCeasedSec628a2a" type="date" use="optional"/>
			<xsd:attribute name="registeredAddrSec628a2a" type="text500" use="optional"/>
			<xsd:attribute name="amtRelevantTaxSec628a2a" type="euros12" use="optional"/>
			<xsd:attribute name="electionUnderSec628a2b" type="boolean" use="optional" default="false"/>
			<xsd:attribute name="dtCompanyCeasedSec628a2b" type="date" use="optional"/>
			<xsd:attribute name="registeredAddrSec628a2b" type="text500" use="optional"/>
			<xsd:attribute name="amtRelevantTaxSec628a2b" type="euros12" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TradingResults">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="TradeProfits" minOccurs="0">
					<xsd:complexType>
						<xsd:complexContent>
					    	<xsd:extension base="TradeProfit">
								<xsd:attribute name="lossClaimUnderCarryBack" type="euros12" use="optional"/>
					    	</xsd:extension>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ExceptedTradeProfits" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="profitsExceptedTrade" type="euros12" use="optional"/>
						<xsd:attribute name="tradingLossesFwd" type="euros12" use="optional"/>
			      		<xsd:attribute name="amountOfLossesUtilised" type="euros12" use="optional"/>
						<xsd:attribute name="balTradLossAvailCarryFwd" type="euros12" use="optional"/>
						<xsd:attribute name="lossesAppropriateToTrade" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ProfitResourceRentTax" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PrrtDetails" minOccurs="0" maxOccurs="20">
								<xsd:complexType>
								<xsd:attribute name="licenceNumber" type="text30" use="optional"/>
								<xsd:attribute name="dateAuthorisationGranted" type="date" use="optional"/>
								<xsd:attribute name="aggrCumulativeExpenditure" type="euros12" use="optional"/>
								<xsd:attribute name="amountOfExpenditure" type="euros12" use="optional"/>
								<xsd:attribute name="amountOfExpenditurePrev" type="euros12" use="optional"/>
								<xsd:attribute name="aggrCumulativeProfits" type="euros12" use="optional"/>
								<xsd:attribute name="amountOfProfits" type="euros12" use="optional"/>
								<xsd:attribute name="amountOfProfitsPrev" type="euros12" use="optional"/>
								<xsd:attribute name="amountPayable" type="euros12" use="optional"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="totalPrrtDue" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PetroleumProductionTax" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PptDetails" minOccurs="0" maxOccurs="10">
								<xsd:complexType>
								<xsd:attribute name="licenceNumber" type="text30" use="optional"/>
								<xsd:attribute name="dateAuthorisationAwarded" type="date" use="optional"/>
								<xsd:attribute name="aggrCumulativeCosts" type="euros12" use="optional"/>
								<xsd:attribute name="amtOfCostsApplicable" type="euros12" use="optional"/>
								<xsd:attribute name="amtOfCostsApplicablePrevious" type="euros12" use="optional"/>
								<xsd:attribute name="aggrCumulativeGrossRevenue" type="euros12" use="optional"/>
								<xsd:attribute name="amtOfRevenueApplicable" type="euros12" use="optional"/>
								<xsd:attribute name="amtOfRevenueApplicablePrevious" type="euros12" use="optional"/>
								<xsd:attribute name="amtOfTransportationExpenditure" type="euros12" use="optional"/>
								<xsd:attribute name="amtOfEligibleExpenditure" type="euros12" use="optional"/>
								<xsd:attribute name="amtOfNetIncome" type="euros12" use="optional"/>
								<xsd:attribute name="amtOfPetroleumTaxPayable" type="euros12" use="optional"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="totalPptDue" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QualifyingShippingActivity" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="profits" type="euros12" use="optional"/>
						<xsd:attribute name="balancingCharges" type="euros12" use="optional"/>
						<xsd:attribute name="capitalAllowances" type="euros12" use="optional"/>
						<xsd:attribute name="machineryAndPlant" type="euros12" use="optional"/>
						<xsd:attribute name="energyEfficient" type="euros12" use="optional"/>
						<xsd:attribute name="industrialBuildings" type="euros12" use="optional"/>
						<xsd:attribute name="other" type="euros12" use="optional"/>
						<xsd:attribute name="lossesBroughtForward" type="euros12" use="optional"/>
			      		<xsd:attribute name="amountLossesUtilised" type="euros12" use="optional"/>
						<xsd:attribute name="amountLossesAvailCarryFwd" type="euros12" use="optional"/>
						<xsd:attribute name="charges" type="euros12" use="optional"/>
						<xsd:attribute name="groupRelief" type="euros12" use="optional"/>
						<xsd:attribute name="amtClaimInRespExcessCapAll" type="euros12" use="optional"/>
						<xsd:attribute name="amtClaimInRespTradeCharges" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TonnageTax" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Ship" minOccurs="0" maxOccurs="100">
								<xsd:complexType>
									<xsd:attribute name="name" type="text40" use="optional"/>
									<xsd:attribute name="imoNumber" type="positive7" use="optional"/>
									<xsd:attribute name="typeOfInterest" type="typeofinterest" use="optional"/>
									<xsd:attribute name="netTonnage" type="positive12" use="optional"/>
									<xsd:attribute name="daysOperated" type="positive5" use="optional"/>
									<xsd:attribute name="tonnageProfits" type="euros12" use="optional"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SingleCompany" type="NameAndCTTaxRefNumber" minOccurs="0"/>
							<xsd:element name="GroupofCompanies" type="NameAndCTTaxRefNumber" minOccurs="0"/>
						</xsd:sequence>
						<xsd:attribute name="indicatePartyToElection" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="dateFrom" type="date" use="optional"/>
						<xsd:attribute name="dateTo" type="date" use="optional"/>
						<xsd:attribute name="metLimit" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="metGroupLimit" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="nameOfGroupRepresentative" type="text40" use="optional"/>
						<xsd:attribute name="groupDateFrom" type="date" use="optional"/>
						<xsd:attribute name="groupDateTo" type="date" use="optional"/>
						<xsd:attribute name="groupArrangement" type="typeofarrangement" use="optional"/>
						<xsd:attribute name="profitsTonnageTax" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="QualifyingAssetsProfits" minOccurs="0">
					<xsd:complexType>
						<xsd:complexContent>
					    	<xsd:extension base="TradeProfit">
					    		<xsd:sequence>
									<xsd:element name="ComputerPrograms" type="QualifyingAssetsClaims" minOccurs="0"/>
									<xsd:element name="QualifyingPatents" type="QualifyingAssetsClaims" minOccurs="0"/>
									<xsd:element name="Section769RClaims" type="QualifyingAssetsClaims" minOccurs="0"/>
									<xsd:element name="FamilyOfAssets" type="QualifyingAssetsClaims" minOccurs="0"/>
									<xsd:element name="OtherAssets" type="QualifyingAssetsClaims" minOccurs="0"/>
					    		</xsd:sequence>
					    		<xsd:attribute name="carryBackOfLosses" type="euros12" use="optional"/>
								<xsd:attribute name="reliefClaimedSec769I" type="euros12" use="optional"/>
								<xsd:attribute name="QualExpIPAsset" type="euros12" use="optional"/>
								<xsd:attribute name="OverallExpIPAsset" type="euros12" use="optional"/>
								<xsd:attribute name="OverallIncomeIPAsset" type="euros12" use="optional"/>
								<xsd:attribute name="priorYearProtectiveClaim" type="euros12" use="optional"/>
								<xsd:attribute name="currentYearProtectiveClaim" type="euros12" use="optional"/>
								<xsd:attribute name="totalProtectiveClaim" type="euros12" use="optional"/>
					    	</xsd:extension>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="electUnderSection80a" type="boolean" use="optional" default="false"/>
			<xsd:attribute name="electUnderSection4522" type="boolean" use="optional" default="false"/>
			<xsd:attribute name="electUnderSection4523a" type="boolean" use="optional" default="false"/>						
			<xsd:attribute name="deductionMadeSports" type="euros12" use="optional"/>
			<xsd:attribute name="deductionMadeCharities" type="euros12" use="optional"/>
			<xsd:attribute name="deductionMadeOtherBodies" type="euros12" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ExtractsAccounts">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Income" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:attribute name="sales" type="euros12" use="optional"/>
						<xsd:attribute name="receipts" type="euros12" use="optional"/>
						<xsd:attribute name="otherIncome" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TradingAccItems" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:attribute name="purchases" type="euros12" use="optional"/>
						<xsd:attribute name="grossTradingProfit" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Expenses" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ProvForBadDebts" type="PositiveNegativeAmount" minOccurs="0" maxOccurs="1"/>
						</xsd:sequence>
						<xsd:attribute name="salaries" type="euros12" use="optional"/>
						<xsd:attribute name="directorsRemuneration" type="euros12" use="optional"/>
						<xsd:attribute name="subContractors" type="euros12" use="optional"/>
						<xsd:attribute name="professionalFees" type="euros12" use="optional"/>
						<xsd:attribute name="subsistence" type="euros12" use="optional"/>
						<xsd:attribute name="repairsRenewals" type="euros12" use="optional"/>
						<xsd:attribute name="interestPayables" type="euros12" use="optional"/>
						<xsd:attribute name="depreciation" type="euros12" use="optional"/>
						<xsd:attribute name="otherExpenses" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="BalanceSheet" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DirectorsCurrentAC" type="PositiveNegativeAmount" minOccurs="0" maxOccurs="1"/>
							<xsd:element name="ShareholdersFunds" type="PositiveNegativeAmount" minOccurs="0" maxOccurs="1"/>
						</xsd:sequence>
						<xsd:attribute name="stockWIPFinishedGoods" type="euros12" use="optional"/>
						<xsd:attribute name="debtors" type="euros12" use="optional"/>
						<xsd:attribute name="cashBank" type="euros12" use="optional"/>
						<xsd:attribute name="bankLoanOD" type="euros12" use="optional"/>
						<xsd:attribute name="creditorsAndAccruals" type="euros12" use="optional"/>
						<xsd:attribute name="clientAccountBalance" type="euros12" use="optional"/>
						<xsd:attribute name="clientAccountBalanceCR" type="euros12" use="optional"/>
						<xsd:attribute name="taxCreditors" type="euros12" use="optional"/>

					</xsd:complexType>
				</xsd:element>
				<xsd:element name="AdjustedNetProfit" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="OrdActivitiesBeforeTax" type="PositiveNegativeAmount" minOccurs="0" maxOccurs="1"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="AdjustmentsMadeToProfit" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SaleOfAssets" type="PositiveNegativeAmount" minOccurs="0" maxOccurs="1"/>
						</xsd:sequence>
						<xsd:attribute name="subscriptions" type="euros12" use="optional"/>
						<xsd:attribute name="entertainment" type="euros12" use="optional"/>
						<xsd:attribute name="disallowableLegalExpenses" type="euros12" use="optional"/>
						<xsd:attribute name="section130Interest" type="euros12" use="optional"/>
						<xsd:attribute name="lightHeatPhone" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="NotesToTheAccounts" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:attribute name="indicateEmphasisOfMatter" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="indicateAuditQualifiedOpinion" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="indicateAuditDisclaimer" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="indicateAdverseOpinion" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="indicateChangeInAssets" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="indicateChangeInStock" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="indicateChangeInDevelopment" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="indicateChangeInOther" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="indicatePriorYearAdjust" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="indicateChangeInNature" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="indicateExceptionalItem" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="additionalInfo" type="text500" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="XbrlOptions" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
			            <xsd:sequence>
			              <xsd:element name="XbrlCompanyCategory" minOccurs="0" maxOccurs="1">
			                <xsd:complexType>
								<xsd:attribute name="statementsSubjectToAudit" type="boolean" use="optional" default="false"/>
								<xsd:attribute name="statementsNotSubjectToAudit" type="boolean" use="optional" default="false"/>
								<xsd:attribute name="statementsOtherThanCompAct" type="boolean" use="optional" default="false"/>
								<xsd:attribute name="statementsNotRequired" type="boolean" use="optional" default="false"/>
								<xsd:attribute name="statementsOtherJurisdiction" type="boolean" use="optional" default="false"/>
								<xsd:attribute name="notTaxResident" type="boolean" use="optional" default="false"/>
								<xsd:attribute name="groupHoldingCompany" type="boolean" use="optional" default="false"/>
			                </xsd:complexType>
			              </xsd:element>
			            </xsd:sequence>
		         		<xsd:attribute name="submitViaIxbrl" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="largeCaseDivision" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="notMandatedExclusion" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="inactiveCompLargeCaseDiv" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="companyInLiquidation" type="boolean" use="optional" default="false"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="from" type="date" use="optional"/>
			<xsd:attribute name="to" type="date" use="optional"/>
			<xsd:attribute name="endingDate" type="date" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RentalIncome">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="LivingCity" type="LivingCityInit" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="indicateCompliance" type="boolean" use="optional" default="false"/>
			<xsd:attribute name="rentalIncomeValue" type="euros12" use="optional"/>
			<xsd:attribute name="balancingCharges" type="euros12" use="optional"/>
			<xsd:attribute name="lossesCarriedForward" type="euros12" use="optional"/>
			<xsd:attribute name="amountOfLossesUtilised" type="euros12" use="optional"/>
      		<xsd:attribute name="balLossesAvailCarriedForw" type="euros12" use="optional"/>
			<xsd:attribute name="includesPropIncentives" type="boolean" use="optional" default="false"/>
			<xsd:attribute name="capAllowAgainstRentalInc" type="euros12" use="optional"/>
			<xsd:attribute name="otherCapitalAllowances" type="euros12" use="optional"/>
			<xsd:attribute name="livingCityYes" type="boolean" use="optional" default="false"/>
			<xsd:attribute name="livingCityNo" type="boolean" use="optional" default="false"/>
			<xsd:attribute name="aviationAddress" type="text140" use="optional"/>
			<xsd:attribute name="aviationEirCode" type="text8" use="optional"/>
			<xsd:attribute name="aviationAggExpend" type="euros12" use="optional"/>
			<xsd:attribute name="totalCapitalAllowances" type="euros12" use="optional"/>
			<xsd:attribute name="excessRentCapAllowances" type="euros12" use="optional"/>
			<xsd:attribute name="grpReliefExcessCapAllow" type="euros12" use="optional"/>
			<xsd:attribute name="totalExcessCapAllowances" type="euros12" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IrishInvestmentIncome">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="OtherIrishIncome" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="InvestmentUndertaking" minOccurs="0" maxOccurs="10">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="AddressDetails" type="NameAddress" minOccurs="0"/>
									</xsd:sequence>
									<xsd:attribute name="gainTaxableLowRate" type="euros12" use="optional"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="patentRoyaltyIncome" type="euros12" use="optional"/>
						<xsd:attribute name="otherIncomeRecWithTax" type="euros12" use="optional"/>
						<xsd:attribute name="otherIncomeRecWithoutTax" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Clawback" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="FilmClawback" minOccurs="0" maxOccurs="20">
								<xsd:complexType>
									<xsd:attribute name="filmCertRef" type="text20" use="optional"/>
									<xsd:attribute name="unauthAmountChargeable" type="euros12" use="optional"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="amountTaxableSec766" type="euros12" use="optional"/>
						<xsd:attribute name="amountTaxableSec766b" type="euros12" use="optional"/>
						<xsd:attribute name="amountTaxableSec766a" type="euros12" use="optional"/>
						<xsd:attribute name="totalFilmClawback" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="InterestArisingInState" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="grossIntRecWithTax" type="euros12" use="optional"/>
						<xsd:attribute name="grossIntRecWithoutTax" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DistributionsResidentComp" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="reitDistributionsReceived" type="euros12" use="optional"/>
						<xsd:attribute name="otherDistributionsReceived" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ForeignIncome">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ForeignDepositAccount" minOccurs="0" maxOccurs="10">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DepositHolderDetails" type="NameAddress" minOccurs="0"/>
							<xsd:element name="IntermediaryDetails" type="NameAddress" minOccurs="0"/>
						</xsd:sequence>
						<xsd:attribute name="dateAccountOpened" type="date" use="optional"/>
						<xsd:attribute name="amountDepositedOnOpening" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ForeignLifePolicy" minOccurs="0" maxOccurs="10">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PolicyCommencerDetails" type="NameAddress" minOccurs="0"/>
							<xsd:element name="PolicyAcquirerDetails" type="NameAddress" minOccurs="0"/>
						</xsd:sequence>
						<xsd:attribute name="paymentTaxable" type="euros12" use="optional"/>
						<xsd:attribute name="gainTaxable" type="euros12" use="optional"/>
						<xsd:attribute name="termsOfPolicy" type="text35" use="optional"/>
						<xsd:attribute name="annualPremiumsPayable" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="OffshoreFund" minOccurs="0" maxOccurs="10">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="OffshoreFundDetails" type="NameAddress" minOccurs="0"/>
							<xsd:element name="IntermediaryDetails" type="NameAddress" minOccurs="0"/>
						</xsd:sequence>
						<xsd:attribute name="incomeTaxable" type="euros12" use="optional"/>
						<xsd:attribute name="gainTaxableLowRate" type="euros12" use="optional"/>
						<xsd:attribute name="dateMaterialInterestAcq" type="date" use="optional"/>
						<xsd:attribute name="amountCapitalInvested" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="OtherOffshoreProduct" minOccurs="0" maxOccurs="10">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="OffshoreProductDetails" type="NameAddress" minOccurs="0"/>
							<xsd:element name="IntermediaryDetails" type="NameAddress" minOccurs="0"/>
						</xsd:sequence>
						<xsd:attribute name="dateMaterialInterestAcq" type="date" use="optional"/>
						<xsd:attribute name="amountOfPaymentMade" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="forDivIncomeBeforeTax" type="euros12" use="optional"/>
			<xsd:attribute name="otherForDivIncomeBeforeTax" type="euros12" use="optional"/>
			<xsd:attribute name="otherForIncomeBeforeTax" type="euros12" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ExemptIncome">
		<xsd:complexType>
			<xsd:attribute name="profitFromWoodlands" type="euros12" use="optional"/>
			<xsd:attribute name="lossFromWoodlands" type="euros12" use="optional"/>
			<xsd:attribute name="distribFromWoodlands" type="euros12" use="optional"/>
			<xsd:attribute name="otherExemptIncome" type="euros12" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CapitalGains">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CapitalGainsConsiderations" minOccurs="0">
					<xsd:complexType>
						<xsd:complexContent>
					    	<xsd:extension base="Considerations">
					    		<xsd:sequence>
									<xsd:element name="AgriLandOrBuildings" type="AreaNumDisposAggConsiderations" minOccurs="0"/>
									<xsd:element name="VentureFundGains" minOccurs="0">
										<xsd:complexType>
											<xsd:attribute name="aggregateConsideration" type="euros12" use="optional"/>
										</xsd:complexType>
									</xsd:element>
					    		</xsd:sequence>
					    	</xsd:extension>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ChargeableGains" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="amountChargeableGain" type="euros12" use="optional"/>
						<xsd:attribute name="prevGainsRolledOver" type="euros12" use="optional"/>
						<xsd:attribute name="netLossesCurrPeriod" type="euros12" use="optional"/>
						<xsd:attribute name="unusedLossesPriorPeriod" type="euros12" use="optional"/>
						<xsd:attribute name="unusedLossesCarryForward" type="euros12" use="optional"/>
						<xsd:attribute name="netCharGain" type="euros12" use="optional"/>
						<xsd:attribute name="netCharGainSection540A" type="euros12" use="optional"/>
						<xsd:attribute name="netCharGainMedium" type="euros12" use="optional"/>
						<xsd:attribute name="netCharGain40" type="euros12" use="optional"/>
						<xsd:attribute name="netCharGainVenture" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="costOfAcquisition" type="euros12" use="optional"/>
			<xsd:attribute name="acquisitionNotAtArmslength" type="boolean" use="optional" default="false"/>
			<xsd:attribute name="amtEnhanceExpendClaimed" type="euros12" use="optional"/>
			<xsd:attribute name="relevantTaxDeferred" type="euros12" use="optional"/>
		</xsd:complexType>
	</xsd:element>	


	<xsd:element name="ChargeableAssets">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Shares" type="Consideration" minOccurs="0"/>
				<xsd:element name="ResidentialPremises" type="ConsiderOfAssests" minOccurs="0"/>
				<xsd:element name="CommercialPremises" type="ConsiderOfAssests" minOccurs="0"/>
				<xsd:element name="AgriculturalLand" type="ConsiderOfAssests" minOccurs="0"/>
				<xsd:element name="DevelopmentLand" type="ConsiderOfAssests" minOccurs="0"/>
				<xsd:element name="BusinessAssets" type="ConsiderOfAssests" minOccurs="0"/>
				<xsd:element name="Antiques" type="ConsiderOfAssests" minOccurs="0"/>
				<xsd:element name="Other" type="ConsiderOfAssests" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Deductions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ValueBasis" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ValueBasisCalculation" minOccurs="0" maxOccurs="10">
								<xsd:complexType>
									<xsd:attribute name="excessCapAllow" type="euros12" use="optional"/>
									<xsd:attribute name="excessTradingLosses" type="euros12" use="optional"/>
									<xsd:attribute name="excessLossCarriedBack" type="euros12" use="optional"/>
									<xsd:attribute name="excessTradingCharges" type="euros12" use="optional"/>
									<xsd:attribute name="excessTradingGroupRelief" type="euros12" use="optional"/>
									<xsd:attribute name="excessQACapAllow" type="euros12" use="optional"/>
									<xsd:attribute name="excessQALosses" type="euros12" use="optional"/>
									<xsd:attribute name="excessQACharges" type="euros12" use="optional"/>
									<xsd:attribute name="excessQAGroupRelief" type="euros12" use="optional"/>
								    <xsd:attribute name="periodDate" type="text25" use="optional"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="totalTradeDeductions" type="euros12" use="optional"/>
						<xsd:attribute name="valuesMayBeClaimed" type="boolean" use="optional" default="false"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DeductionExpenses" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="manageExpenses" type="euros12" use="optional"/>
						<xsd:attribute name="groupRelManageExpense" type="euros12" use="optional"/>
						<xsd:attribute name="reliefUnderSection247" type="euros12" use="optional"/>
						<xsd:attribute name="holdingCompanyInTieredStructure" type="text5" use="optional"/>
						<xsd:attribute name="reliefAmount" type="euros12" use="optional"/>					
						<xsd:attribute name="groupRelNonTradeCharges" type="euros12" use="optional"/>
						<xsd:attribute name="indicateReliefUnderS2474A" type="text5" use="optional"/>
						<xsd:attribute name="taxRefJoint" type="ppsn" use="optional"/>
						<xsd:attribute name="otherDeductionsDetails" type="text70" use="optional"/>
						<xsd:attribute name="amountOtherDeductions" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Reliefs" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="doubleTaxationRelief" type="euros12" use="optional"/>
						<xsd:attribute name="relClaimedStateCompanies" type="positive5" use="optional"/>
						<xsd:attribute name="excessTotalContribution" type="positive5" use="optional"/>
						<xsd:attribute name="otherReliefsDetails" type="text70" use="optional"/>
						<xsd:attribute name="amountOtherReliefs" type="euros12" use="optional"/>
						<xsd:attribute name="amtRelClaimedForCredA" type="euros12" use="optional"/>			
						<xsd:attribute name="amtRelClaimedForCredB" type="euros12" use="optional"/>			
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ReliefOnValueBasis" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="tradingLosses" type="euros12" use="optional"/>
						<xsd:attribute name="tradingLossesExcessCapital" type="euros12" use="optional"/>
						<xsd:attribute name="tradingLossesCarriedBack" type="euros12" use="optional"/>
						<xsd:attribute name="tradingCharges" type="euros12" use="optional"/>
						<xsd:attribute name="tradingGroupRelief" type="euros12" use="optional"/>
						<xsd:attribute name="qualAssetsCapitalAllowance" type="euros12" use="optional"/>
						<xsd:attribute name="qualAssetsLosses" type="euros12" use="optional"/>
						<xsd:attribute name="qualAssetsCharges" type="euros12" use="optional"/>
						<xsd:attribute name="qualAssetsGroupRelief" type="euros12" use="optional"/>					
						<xsd:attribute name="qualAssetsLossesCarriedBack" type="euros12" use="optional"/>	
						</xsd:complexType>
				</xsd:element>
				<xsd:element name="Credits" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="pswtOnFees" type="euros12" use="optional"/>
						<xsd:attribute name="amountPswtRefunded" type="euros12" use="optional"/>
						<xsd:attribute name="amountPswtRetained" type="euros12" use="optional"/>
						<xsd:attribute name="otherIncomeTax" type="euros12" use="optional"/>
						<xsd:attribute name="taxBorneOnExemptProfits" type="boolean" use="optional" default="false"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>			
	<xsd:element name="ResearchAndDevelopmentCredit">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="RnDCreditAllowances" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="EmployeeDetails" minOccurs="0" maxOccurs="50">
								<xsd:complexType>
									<xsd:attribute name="rndCreditSurrendered766Emp" type="euros12" use="optional"/>
									<xsd:attribute name="employeePpsn" type="ppsn" use="optional"/>		
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="UnusedCredCarriedForward" minOccurs="0">
								<xsd:complexType>
									<xsd:attribute name="section766biii" type="euros12" use="optional"/>
									<xsd:attribute name="section766biiiPpsn" type="ppsn" use="optional"/>		
									<xsd:attribute name="section766biiiPpsn2" type="ppsn" use="optional"/>
									<xsd:attribute name="section766biiiPpsn3" type="ppsn" use="optional"/>
									<xsd:attribute name="section766a3a" type="euros12" use="optional"/>	
									<xsd:attribute name="isSection766a3a" type="boolean" use="optional" default="false"/>
									<xsd:attribute name="section766a" type="euros12" use="optional"/>
									<xsd:attribute name="section766aiii" type="euros12" use="optional"/>
									<xsd:attribute name="section766" type="euros12" use="optional"/>
									<xsd:attribute name="section766iii" type="euros12" use="optional"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="creditClaimed766" type="euros12" use="optional"/>
						<xsd:attribute name="plantMachClaimed766" type="euros12" use="optional"/>
						<xsd:attribute name="creditSurrenderedUnder766" type="euros12" use="optional"/>
						<xsd:attribute name="creditClaimedUnused766" type="euros12" use="optional"/>
						<xsd:attribute name="constructCredClaimed766" type="euros12" use="optional"/>
						<xsd:attribute name="unusedConstCredClaimed766" type="euros12" use="optional"/>
						<xsd:attribute name="groupRelClaimed766" type="euros12" use="optional"/>
						<xsd:attribute name="groupRelSurrender766" type="euros12" use="optional"/>
						<xsd:attribute name="groupRelClaimExcess766" type="euros12" use="optional"/>
						<xsd:attribute name="groupRelClaimExcess766a" type="euros12" use="optional"/>
						<xsd:attribute name="totalCreditClaimed" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ExcessRnDCredit" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="amountRepayableSec766" type="euros12" use="optional"/>
						<xsd:attribute name="amountRepayableSec766a" type="euros12" use="optional"/>
						<xsd:attribute name="amountClaimedSec766" type="euros12" use="optional"/>
						<xsd:attribute name="amountClaimedSec766a" type="euros12" use="optional"/>
						<xsd:attribute name="amountClaimedSec766iii" type="euros12" use="optional"/>
						<xsd:attribute name="amountClaimedSec766aiii" type="euros12" use="optional"/>
						<xsd:attribute name="subContractExpendUniv" type="euros12" use="optional"/>
						<xsd:attribute name="baseYearExpenditure" type="euros12" use="optional"/>
						<xsd:attribute name="baseYearExpendPlantMach" type="euros12" use="optional"/>
						<xsd:attribute name="allowanceClaimedCapExp" type="euros12" use="optional"/>
						<xsd:attribute name="subContractExpendNotif" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="subContractExpendPerson" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FilmCorporationTaxCredit">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="FilmDetails" minOccurs="0" maxOccurs="40">
					<xsd:complexType>
						<xsd:attribute name="filmCertNumber" type="text20" use="optional"/>
						<xsd:attribute name="filmCertDate" type="date" use="optional"/>
						<xsd:attribute name="filmCompleted" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="amountCreditApproved" type="euros12" use="optional"/>
						<xsd:attribute name="firstInstallClaimed" type="euros12" use="optional"/>
						<xsd:attribute name="canClaimSecondInstall" type="boolean" use="optional" default="false"/>
						<xsd:attribute name="secondInstallClaimed" type="euros12" use="optional"/>
						<xsd:attribute name="totalFilmBudget" type="euros12" use="optional"/>
						<xsd:attribute name="totalIrishBudget" type="euros12" use="optional"/>
						<xsd:attribute name="filmType" type="text20" use="optional"/>
						<xsd:attribute name="numberEmployed" type="positive4" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="totalClaimed" type="euros12" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="CapitalGainsDevelopmentLand">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CapGainsDevLandConsiderations" minOccurs="0">
					<xsd:complexType>
						<xsd:complexContent>
					    	<xsd:extension base="Considerations">
					    		<xsd:sequence>
									<xsd:element name="DevLandOrBuildings" type="AreaNumDisposAggConsiderations" minOccurs="0"/>
					    		</xsd:sequence>
					    	</xsd:extension>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CapGainsDevLandChargeGains" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="chargeGainsDev" type="euros12" use="optional"/>
						<xsd:attribute name="netLossesDev" type="euros12" use="optional"/>
						<xsd:attribute name="unusedLossesPriorYear" type="euros12" use="optional"/>
						<xsd:attribute name="netChargeGainDev" type="euros12" use="optional"/>
						<xsd:attribute name="unusedLossCarriedForward" type="euros12" use="optional"/>
						<xsd:attribute name="netCharGainInitPrevPeriod" type="euros12" use="optional"/>
						<xsd:attribute name="netCharGainLatePrevPeriod" type="euros12" use="optional"/>
						<xsd:attribute name="netCharGainInitThisPeriod" type="euros12" use="optional"/>
						<xsd:attribute name="netCharGainLateThisPeriod" type="euros12" use="optional"/>
						<xsd:attribute name="cpoNetChargeGain" type="euros12" use="optional"/>
						<xsd:attribute name="cpoDateDisposal" type="date" use="optional"/>
						<xsd:attribute name="cpoDatePaymentReceived" type="date" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="costOfAcquisition" type="euros12" use="optional"/>
			<xsd:attribute name="acquisitionNotAtArmslength" type="boolean" use="optional" default="false"/>
			<xsd:attribute name="currentUseValue" type="euros12" use="optional"/>
			<xsd:attribute name="costLessCurrentUseValue" type="euros12" use="optional"/>
			<xsd:attribute name="amtEnhanceExpendClaimed" type="euros12" use="optional"/>
			<xsd:attribute name="totalCapGainTaxDue" type="euros12" use="optional"/>
			<xsd:attribute name="taxDeferDisposalDevLand" type="euros12" use="optional"/>
		</xsd:complexType>
	</xsd:element>		
	<xsd:element name="CloseCompanySurcharge">
		<xsd:complexType>
			<xsd:attribute name="electUnderSec440441" type="boolean" use="optional" default="false"/>
			<xsd:attribute name="section440" type="euros12" use="optional"/>
			<xsd:attribute name="section441" type="euros12" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RecoveryOfIncomeTax">
		<xsd:complexType>
			<xsd:attribute name="totalAmountDue" type="euros12" use="optional"/>
			<xsd:attribute name="amountTaxReliefAtSource" type="euros12" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DividendWithholdingTax">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DistributionDetails" minOccurs="0" maxOccurs="40">
					<xsd:complexType>
						<xsd:attribute name="dateOfDistribution" type="date" use="optional"/>
						<xsd:attribute name="grossValue" type="euros12" use="optional"/>
						<xsd:attribute name="valueOfDwt" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="StockArrangement" minOccurs="0" maxOccurs="10">
					<xsd:complexType>
						<xsd:attribute name="nameOfNonResCompany" type="text40" use="optional"/>
						<xsd:attribute name="nameAndAddressOfRecipient" type="text170" use="optional"/>
						<xsd:attribute name="dateOfDistribution" type="date" use="optional"/>
						<xsd:attribute name="amountOfDistribution" type="euros12" use="optional"/>
						<xsd:attribute name="eirCode" type="text8" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OtherCodes">
		<xsd:complexType>
			<xsd:attribute name="imposeZeroSurcharge" type="boolean" use="optional" default="false"/>
			<xsd:attribute name="imposeFiveSurcharge" type="boolean" use="optional" default="false"/>
			<xsd:attribute name="imposeTenSurcharge" type="boolean" use="optional" default="false"/>
			<xsd:attribute name="miscChargeableAmount" type="euros12" use="optional"/>
			<xsd:attribute name="miscChargeableDesc" type="text64" use="optional"/>
			<xsd:attribute name="returnReceivedDate" type="date" use="optional"/>
			<xsd:attribute name="financialsReceivedDate" type="date" use="optional"/>
			<xsd:attribute name="returnType" type="subformtype" use="optional"/>
			<xsd:attribute name="section960QAmount" type="euros12" use="optional"/>
			<xsd:attribute name="section960QDate" type="date" use="optional"/>
			<xsd:attribute name="agentidinternalros" type="xsd:integer" use="optional"/>
			<xsd:attribute name="lptSurcharge" type="xsd:decimal" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SummaryCalculation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="TaxableIncomeAtRate" minOccurs="0" maxOccurs="100">
					<xsd:complexType>
						<xsd:attribute name="amountChargeableAtRate" type="euros12" use="optional"/>
						<xsd:attribute name="percentageRate" type="percentage3_2" use="optional"/>
						<xsd:attribute name="amountPayableAtRate" type="positiveDec12" use="optional"/>
						<xsd:attribute name="taxIdentifier" type="text5" use="optional"/>
						<xsd:attribute name="taxPeriod" type="text25" use="optional"/>
						<xsd:attribute name="taxOrder" type="positive2" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="tradingIncome" type="euros12" use="optional"/>
			<xsd:attribute name="shippingIncome" type="euros12" use="optional"/>
			<xsd:attribute name="tonnageIncome" type="euros12" use="optional"/>
			<xsd:attribute name="tonnageTaxAmount" type="positiveDec12" use="optional"/>
			<xsd:attribute name="tonnageTaxRate" type="positiveDec12" use="optional"/>
			<xsd:attribute name="rentalIncome" type="euros12" use="optional"/>
			<xsd:attribute name="interestIncome" type="euros12" use="optional"/>
			<xsd:attribute name="foreignIncome" type="euros12" use="optional"/>
			<xsd:attribute name="foreignLifePolicyPayment" type="euros12" use="optional"/>
			<xsd:attribute name="foreignLifePolicyGain" type="euros12" use="optional"/>
			<xsd:attribute name="offshoreFundIncome" type="euros12" use="optional"/>
			<xsd:attribute name="offshoreFundGain" type="euros12" use="optional"/>
			<xsd:attribute name="otherIncome" type="euros12" use="optional"/>
			<xsd:attribute name="rdClawback" type="euros12" use="optional"/>
			<xsd:attribute name="filmClawback" type="euros12" use="optional"/>
			<xsd:attribute name="capitalGains" type="euros12" use="optional"/>
			<xsd:attribute name="totalIncome" type="euros13" use="optional"/>
			<xsd:attribute name="losses" type="euros12" use="optional"/>
			<xsd:attribute name="charges" type="euros12" use="optional"/>
			<xsd:attribute name="groupRelief" type="euros12" use="optional"/>
			<xsd:attribute name="managementExpenses" type="euros12" use="optional"/>
			<xsd:attribute name="otherDeductions" type="euros12" use="optional"/>
			<xsd:attribute name="excessCapitalAllowances" type="euros12" use="optional"/>
			<xsd:attribute name="exceptedTradeLosses" type="euros12" use="optional"/>
			<xsd:attribute name="totalDeductions" type="euros13" use="optional"/>
			<xsd:attribute name="taxableIncome" type="euros13" use="optional"/>
			<xsd:attribute name="chargeableGain" type="euros12" use="optional"/>
			<xsd:attribute name="total" type="positiveDec13" use="optional"/>
			<xsd:attribute name="otherTradeDeductions" type="euros12" use="optional"/>
			<xsd:attribute name="doubleTaxationRelief" type="euros12" use="optional"/>
			<xsd:attribute name="additionalFtxRelief" type="euros12" use="optional"/>
			<xsd:attribute name="sec486cRelief" type="euros12" use="optional"/>
			<xsd:attribute name="otherReliefs" type="euros12" use="optional"/>
			<xsd:attribute name="totalReliefs" type="euros13" use="optional"/>
			<xsd:attribute name="totalReliefsIds" type="positiveDec13" use="optional"/>
			<xsd:attribute name="surchargesSection440" type="euros12" use="optional"/>
			<xsd:attribute name="surchargesSection441" type="euros12" use="optional"/>
			<xsd:attribute name="totalSurcharges" type="euros13" use="optional"/>
			<xsd:attribute name="grossWithholdingTax" type="euros12" use="optional"/>
			<xsd:attribute name="otherIncTaxBorneIncRec" type="euros12" use="optional"/>
			<xsd:attribute name="rAndDCredit" type="euros12" use="optional"/>
			<xsd:attribute name="totalFilmCredit" type="euros12" use="optional"/>
			<xsd:attribute name="totalCredits" type="euros13" use="optional"/>
			<xsd:attribute name="totalCreditsIds" type="positiveDec13" use="optional"/>
			<xsd:attribute name="amtPayUnderDeductOfTax" type="euros12" use="optional"/>
			<xsd:attribute name="taxReliefAtSource" type="euros12" use="optional"/>
			<xsd:attribute name="totalTax" type="euros13" use="optional"/>
			<xsd:attribute name="totalAmountPayable" type="positiveDec13" use="optional"/>
			<xsd:attribute name="totalAmountRepayable" type="positiveDec13" use="optional"/>
			<xsd:attribute name="exceptedTradeIncome" type="euros13" use="optional"/>
			<xsd:attribute name="surcharge" type="positiveDec13" use="optional"/>
			<xsd:attribute name="otherForeignIncome" type="euros12" use="optional"/>
			<xsd:attribute name="rAndDRepayableCredits" type="euros12" use="optional"/>
			<xsd:attribute name="repaidCreditAmount" type="positiveDec12" use="optional"/>
			<xsd:attribute name="reliefUnderSection247" type="euros12" use="optional"/>
			<xsd:attribute name="miscIncomeAm" type="euros12" use="optional"/>
			<xsd:attribute name="miscIncomeDesc" type="text64" use="optional"/>
			<xsd:attribute name="section960QTotal" type="euros12" use="optional"/>
			<xsd:attribute name="totalPrrtDue" type="euros12" use="optional"/>
			<xsd:attribute name="totalPptDue" type="euros12" use="optional"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="PropertyBasedIncentives">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ResidentialProperty" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="urbanRenewal" type="InvestorLessor" use="optional"/>
						<xsd:attribute name="townRenewal" type="InvestorLessor" use="optional"/>
						<xsd:attribute name="seasideResort" type="InvestorLessor" use="optional"/>
						<xsd:attribute name="ruralResort" type="InvestorLessor" use="optional"/>
						<xsd:attribute name="livingOverShop" type="InvestorLessor" use="optional"/>
						<xsd:attribute name="parkAndRide" type="InvestorLessor" use="optional"/>
						<xsd:attribute name="studentAccom" type="InvestorLessor" use="optional"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IndustBuildAllowance" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="UrbanRenewal" type="OccupierInvestor" minOccurs="0"/>
							<xsd:element name="TownRenewal" type="OccupierInvestor" minOccurs="0"/>
							<xsd:element name="SeasideResort" type="OccupierInvestor" minOccurs="0"/>
							<xsd:element name="RuralRenewal" type="OccupierInvestor" minOccurs="0"/>
							<xsd:element name="CarPark" type="OccupierInvestor" minOccurs="0"/>
							<xsd:element name="LivingOverShop" type="OccupierInvestor" minOccurs="0"/>
							<xsd:element name="EnterpriseAreas" type="OccupierInvestor" minOccurs="0"/>
							<xsd:element name="ParkAndRide" type="OccupierInvestor" minOccurs="0"/>
							<xsd:element name="Hotels" type="OccupierInvestor" minOccurs="0"/>
							<xsd:element name="HolidayCottages" type="OccupierInvestor" minOccurs="0"/>
							<xsd:element name="HolidayHostels" type="OccupierInvestor" minOccurs="0"/>
							<xsd:element name="GuestHouses" type="OccupierInvestor" minOccurs="0"/>
							<xsd:element name="NursingHomes" type="OccupierInvestor" minOccurs="0"/>
							<xsd:element name="ElderlyHousing" type="OccupierInvestor" minOccurs="0"/>
							<xsd:element name="ConvalescentHomes" type="OccupierInvestor" minOccurs="0"/>
							<xsd:element name="ChildCare" type="OccupierInvestor" minOccurs="0"/>
							<xsd:element name="CaravanPark" type="OccupierInvestor" minOccurs="0"/>
							<xsd:element name="ShannonCorridor" type="OccupierInvestor" minOccurs="0"/>
							<xsd:element name="LivingCityInitiative" type="OccupierInvestor" minOccurs="0"/>
							<xsd:element name="AviationServicesFacilities" type="OccupierInvestor" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="OtherIncentiveScheme" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="nameIncentiveScheme" type="text40" use="optional"/>
						<xsd:attribute name="amtReliefClaimed" type="euros12" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Notes">
		<xsd:complexType>
			<xsd:attribute name="existingNotes" type="text1000" use="optional"/>
			<xsd:attribute name="appendNotes" type="text1000" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SelfAssessmentCt">
		<xsd:complexType>
			<xsd:attribute name="cceProfitChargeTax" type="euros12" use="optional"/>
			<xsd:attribute name="cceTaxCharge" type="positiveDec12" use="optional"/>
			<xsd:attribute name="cceTaxPayableBeforePswt" type="itpsigneddecimal12" use="optional"/>
			<xsd:attribute name="ccePswtInterimRefunds" type="positiveDec12" use="optional"/>
			<xsd:attribute name="cceTaxPayable" type="itpsigneddecimal12" use="optional"/>
			<xsd:attribute name="cceAmtSurchargedue" type="positiveDec12" use="optional"/>
			<xsd:attribute name="cceAmtLptSurchargeDue" type="positiveDec12" use="optional"/>
			<xsd:attribute name="cceAmtTaxPaidDirect" type="itpsigneddecimal12" use="optional"/>
			<xsd:attribute name="cceBalanceTaxPayable" type="itpsigneddecimal12" use="optional"/>
			<xsd:attribute name="cceBalanceTaxOverpaid" type="itpsigneddecimal12" use="optional"/>
			<xsd:attribute name="selfProfitChargeTax" type="euros12" use="optional"/>
			<xsd:attribute name="selfTaxCharge" type="positiveDec12" use="optional"/>
			<xsd:attribute name="selfTaxPayableBeforePswt" type="itpsigneddecimal12" use="optional"/>
			<xsd:attribute name="selfPswtInterimRefunds" type="positiveDec12" use="optional"/>
			<xsd:attribute name="selfTaxPayable" type="itpsigneddecimal12" use="optional"/>
			<xsd:attribute name="selfAmtSurchargeDue" type="positiveDec12" use="optional"/>
			<xsd:attribute name="selfAmtLptSurchargeDue" type="positiveDec12" use="optional"/>
			<xsd:attribute name="selfAmtTaxPaidDirect" type="itpsigneddecimal12" use="optional"/>
			<xsd:attribute name="selfBalanceTaxPayable" type="itpsigneddecimal12" use="optional"/>
			<xsd:attribute name="selfBalanceTaxOverpaid" type="itpsigneddecimal12" use="optional"/>
			<xsd:attribute name="agreeWithFigures" type="boolean" use="optional" default="false"/>
			<xsd:attribute name="declareSelfAssessment" type="boolean" use="optional" default="false"/>
			<xsd:attribute name="section1085Confirmation" type="boolean" use="optional" default="false"/>
			<xsd:attribute name="reasonForDisagreeing" type="text500" use="optional"/>
			<xsd:attribute name="repaidcredits" type="itpsigneddecimal12" use="optional"/>
			<xsd:attribute name="amttaxpaiddirect" type="itpsigneddecimal12" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SelfAssessmentCgtIt">
		<xsd:complexType>
			<xsd:attribute name="cceProfitChargeTaxCgt" type="euros12" use="optional"/>
			<xsd:attribute name="cceTaxChargeCgt" type="positiveDec12" use="optional"/>
			<xsd:attribute name="cceTaxPayableCgt" type="itpsigneddecimal12" use="optional"/>
			<xsd:attribute name="cceBalanceTaxPayableCgt" type="itpsigneddecimal12" use="optional"/>
			<xsd:attribute name="cceBalanceTaxOverpaidCgt" type="itpsigneddecimal12" use="optional"/>
			<xsd:attribute name="selfProfitChargeTaxCgt" type="euros12" use="optional"/>
			<xsd:attribute name="selfTaxChargeCgt" type="positiveDec12" use="optional"/>
			<xsd:attribute name="selfTaxPayableCgt" type="itpsigneddecimal12" use="optional"/>
			<xsd:attribute name="selfAmtSurchargeDueCgt" type="positiveDec12" use="optional"/>
			<xsd:attribute name="selfAmtLptSurchargeDueCgt" type="positiveDec12" use="optional"/>
			<xsd:attribute name="selfAmtTaxPaidDirectCgt" type="itpsigneddecimal12" use="optional"/>
			<xsd:attribute name="selfBalanceTaxPayableCgt" type="itpsigneddecimal12" use="optional"/>
			<xsd:attribute name="selfBalanceTaxOverpaidCgt" type="itpsigneddecimal12" use="optional"/>
			<xsd:attribute name="agreeWithFiguresCgt" type="boolean" use="optional" default="false"/>
			<xsd:attribute name="declareSelfAssessmentCgt" type="boolean" use="optional" default="false"/>
		</xsd:complexType>
	</xsd:element>	
	<xsd:element name="Prepopulation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Prepopulated" minOccurs="0"/>
				<xsd:element ref="RCTDetails" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Prepopulated">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PrepopulatedPanel" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:attribute name="panelname" type="xsd:string" use="required"/>
						<xsd:attribute name="populated" type="xsd:boolean" use="required"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RCTDetails">
		<xsd:complexType>
            <xsd:attribute name="grossPayment" type="xsd:decimal"/>
            <xsd:attribute name="deductionAmount" type="xsd:decimal"/>
            <xsd:attribute name="periodStart" type="text20"/>
            <xsd:attribute name="periodEnd" type="text20"/>
		</xsd:complexType>
    </xsd:element>
	<xsd:element name="Acknowledgement">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="AcknowledgementType">
					<xsd:sequence maxOccurs="unbounded">
						<xsd:choice>
							<xsd:element ref="SummaryCalculation" minOccurs="0"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="boolean">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="true"/>
			<xsd:enumeration value="false"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="date">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-3]?[0-9]/[0-3]?[0-9]/[1-9][0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="currency">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="E"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="language">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="E"/>
			<xsd:enumeration value="G"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="euros9">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="euros12">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="euros13">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="euros10">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="positive2">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="positive3">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="positive4">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="positive5">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="99999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="positive7">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="positive12">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="positiveDec12">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="positiveDec13">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="text">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="text5">
		<xsd:restriction base="text">
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="text8">
		<xsd:restriction base="text">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="text12">
		<xsd:restriction base="text">
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="text500">
		<xsd:restriction base="text">
			<xsd:maxLength value="500"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="text1000">
		<xsd:restriction base="text">
			<xsd:maxLength value="1000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="text20">
		<xsd:restriction base="text">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="text25">
		<xsd:restriction base="text">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="text30">
		<xsd:restriction base="text">
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="text35">
		<xsd:restriction base="text">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="text40">
		<xsd:restriction base="text">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="text64">
		<xsd:restriction base="text">
			<xsd:maxLength value="64"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="text70">
		<xsd:restriction base="text">
			<xsd:maxLength value="70"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="text140">
		<xsd:restriction base="text">
			<xsd:maxLength value="140"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="text170">
		<xsd:restriction base="text">
			<xsd:maxLength value="170"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="hectares6_2">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="8"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.00"/>
			<xsd:pattern value="[0-9]{1,6}\.[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ctregistration">
		<xsd:restriction base="xsd:string">
		    <xsd:maxLength value="10"/>
			<xsd:pattern value="[0-9]{1,8}[A-Wa-w][A-Ia-i ]?"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ppsn">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:pattern value="[0-9]{1,8}[A-Wa-w][A-Ia-iTWXZtwxz ]?"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="itpmaxdecimal">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="13"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.00"/>
			<xsd:pattern value="[0-9]{1,13}\.[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="itpsigneddecimal">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="13"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="-9999999999.99"/>
			<xsd:maxInclusive value="9999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="itpsigneddecimal12">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="15"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="-999999999999.99"/>
			<xsd:maxInclusive value="999999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>	
	<xsd:simpleType name="percentage3_2">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="5"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.00"/>
			<xsd:maxInclusive value="100.00"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="subformtype">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="RA"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="typeofinterest">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="e"/>
			<xsd:enumeration value="o"/>
			<xsd:enumeration value="c"/>
			<xsd:enumeration value="g"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="typeofarrangement">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="e"/>
			<xsd:enumeration value="y"/>
			<xsd:enumeration value="n"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="PositiveNegativeAmount">
		<xsd:attribute name="positiveAmount" type="euros12" use="optional"/>
		<xsd:attribute name="negativeAmount" type="euros12" use="optional"/>
	</xsd:complexType >
	
	<xsd:complexType name="OccupierInvestor">
		<xsd:attribute name="investorLessor" type="InvestorLessor" use="optional"/>
		<xsd:attribute name="ownerOccupier" type="OwnerOccupier" use="optional"/>
	</xsd:complexType>

	<xsd:simpleType name="InvestorLessor">
		<xsd:restriction base="euros12"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="OwnerOccupier">
		<xsd:restriction base="euros12"/>
	</xsd:simpleType>

	<xsd:complexType name="Address">
		<xsd:attribute name="line1" type="text35" use="optional"/>
		<xsd:attribute name="line2" type="text35" use="optional"/>
		<xsd:attribute name="line3" type="text35" use="optional"/>
		<xsd:attribute name="eirCode" type="text8" use="optional"/>
	</xsd:complexType>

	<xsd:complexType name="NameAddress">
		<xsd:complexContent>
		     <xsd:extension base="Address">
		     	<xsd:attribute name="name" type="text40" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Considerations">
		<xsd:sequence>
			<xsd:element name="QuotedSharesSecurities" type="DisposAggConsiderations" minOccurs="0"/>
			<xsd:element name="UnquotedSharesSecurities" type="DisposAggConsiderations" minOccurs="0"/>
			<xsd:element name="CommercialPremises" type="NumDisposAggConsiderations" minOccurs="0"/>
			<xsd:element name="ResidentialPremises" type="NumDisposAggConsiderations" minOccurs="0"/>
			<xsd:element name="OtherAssets" type="NumDisposAggConsiderations" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="totalConsiderOnDisposal" type="euros12" use="optional"/>
		<xsd:attribute name="incidentalCostOfDisposal" type="euros12" use="optional"/>
		<xsd:attribute name="aggNetConsiderOnDisposal" type="euros12" use="optional"/>
	</xsd:complexType>

	<xsd:complexType name="LivingCityInit">
		<xsd:attribute name="amountOfClaim" type="euros12" use="optional"/>
		<xsd:attribute name="addressQualPremises" type="text140" use="optional"/>
		<xsd:attribute name="lciEirCode" type="text8" use="optional"/>
		<xsd:attribute name="aggQualExpendDetails" type="text1000" use="optional"/>
		<xsd:attribute name="serviceDescription" type="positive2" use="optional"/>
		<xsd:attribute name="marketValue" type="euros12" use="optional"/>
	</xsd:complexType>

	<xsd:complexType name="DisposAggConsiderations">
		<xsd:attribute name="disposalsConnectedPersons" type="boolean" use="optional" default="false"/>
		<xsd:attribute name="aggregateConsideration" type="euros12" use="optional"/>
	</xsd:complexType>

	<xsd:complexType name="NumDisposAggConsiderations">
		<xsd:complexContent>
		     <xsd:extension base="DisposAggConsiderations">
		     	<xsd:attribute name="numberOfDisposals" type="positive3" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="AreaNumDisposAggConsiderations">
		<xsd:complexContent>
		     <xsd:extension base="NumDisposAggConsiderations">
		     	<xsd:attribute name="aggregateArea" type="hectares6_2" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ConsiderOfAssests">
		<xsd:attribute name="consideration" type="Consideration" use="optional"/>
		<xsd:attribute name="numberOfAssets" type="NumberOfAssets" use="optional"/>
	</xsd:complexType>

	<xsd:complexType name="NameAndTaxRefNumber">
		<xsd:attribute name="name" type="text40" use="optional"/>
		<xsd:attribute name="taxRefNumber" type="ppsn" use="optional"/>
	</xsd:complexType>

	<xsd:complexType name="NameAndCTTaxRefNumber">
		<xsd:attribute name="name" type="text40" use="optional"/>
		<xsd:attribute name="taxRefNumber" type="ctregistration" use="optional"/>
	</xsd:complexType>

	<xsd:simpleType name="Consideration">
		<xsd:restriction base="euros12"/>
	</xsd:simpleType>

	<xsd:simpleType name="NumberOfAssets">
		<xsd:restriction base="positive5"/>
	</xsd:simpleType>

	<xsd:complexType name="TradeProfit">
		<xsd:sequence>
			<xsd:element name="IntangibleAssets" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="JntSection615NamePpsn" type="NameAndCTTaxRefNumber" minOccurs="0"/>
						<xsd:element name="JntSection617NamePpsn" type="NameAndCTTaxRefNumber" minOccurs="0"/>
					</xsd:sequence>
					<xsd:attribute name="companyElectionSec2914a" type="boolean" use="optional" default="false"/>
					<xsd:attribute name="companyElectionSec291A4" type="boolean" use="optional" default="false"/>
					<xsd:attribute name="capAllowClaimedAccounts" type="euros12" use="optional"/>
					<xsd:attribute name="capAllowClaimedFixed" type="euros12" use="optional"/>
					<xsd:attribute name="interestClaimedTradeDed" type="euros12" use="optional"/>
					<xsd:attribute name="interestClaimedAsCharge" type="euros12" use="optional"/>
					<xsd:attribute name="jntSection615ElectTrans" type="boolean" use="optional" default="false"/>
					<xsd:attribute name="jntSection615ElectAcq" type="boolean" use="optional" default="false"/>
					<xsd:attribute name="jntSection617ElectTrans" type="boolean" use="optional" default="false"/>
					<xsd:attribute name="jntSection617ElectAcq" type="boolean" use="optional" default="false"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="LivingCity" type="LivingCityInit" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="profitsBeforeCapAllow" type="euros12" use="optional"/>
		<xsd:attribute name="balancingCharges" type="euros12" use="optional"/>
		<xsd:attribute name="capAllPropWithIncentives" type="boolean" use="optional" default="false"/>
		<xsd:attribute name="machineryAndPlant" type="euros12" use="optional"/>
		<xsd:attribute name="energyEfficient" type="euros12" use="optional"/>
		<xsd:attribute name="computerSoftware" type="euros10" use="optional"/>
		<xsd:attribute name="industrialBuildings" type="euros12" use="optional"/>
		<xsd:attribute name="other" type="euros12" use="optional"/>
		<xsd:attribute name="expendPatentRights" type="euros12" use="optional"/>
		<xsd:attribute name="capAllowPatentRights" type="euros12" use="optional"/>
		<xsd:attribute name="expendKnowHow" type="euros12" use="optional"/>
		<xsd:attribute name="expendKnowHowAllowance" type="euros12" use="optional"/>
		<xsd:attribute name="tradingLossesBroughtFwd" type="euros12" use="optional"/>
		<xsd:attribute name="amountOfLossesUtilised" type="euros12" use="optional"/>
		<xsd:attribute name="balTradeLossAvailCarryFwd" type="euros12" use="optional"/>
		<xsd:attribute name="lossOffsetTradingIncome" type="euros12" use="optional"/>
		<xsd:attribute name="charges" type="euros12" use="optional"/>
		<xsd:attribute name="groupRelief" type="euros12" use="optional"/>
		<xsd:attribute name="amtGrpReliefExcessCapAllow" type="euros12" use="optional"/>
		<xsd:attribute name="amtGrpReliefTradeCharges" type="euros12" use="optional"/>
		<xsd:attribute name="livingCityYes" type="boolean" use="optional" default="false"/>
		<xsd:attribute name="livingCityNo" type="boolean" use="optional" default="false"/>
		<xsd:attribute name="ibaAddress" type="text140" use="optional"/>
		<xsd:attribute name="ibaEirCode" type="text8" use="optional"/>
		<xsd:attribute name="aggAmountExpenditure" type="euros12" use="optional"/>
	</xsd:complexType>

	<xsd:complexType name="QualifyingAssetsClaims">
		<xsd:attribute name="numPriorClaims" type="positive7" use="optional"/>
		<xsd:attribute name="priorClaims" type="euros9" use="optional"/>
		<xsd:attribute name="numNewClaims" type="positive7" use="optional"/>
		<xsd:attribute name="newClaims" type="euros9" use="optional"/>
	</xsd:complexType>

	<xsd:complexType name="AcknowledgementType">
		<xsd:choice minOccurs="0">
			<xsd:element ref="ErrorList"/>
			<xsd:element name="NoticeNumber">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string"/>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
		<xsd:attribute name="success" type="boolean" use="required"/>
	</xsd:complexType>
	<xsd:element name="ErrorList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Error" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ErrorList" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="target" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Error">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="target" type="xsd:string" use="required"/>
					<xsd:attribute name="code" type="xsd:integer" use="required"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
